[2018-11-02 14:59] zhangyunming opened #2 "wait for a long time"
Hi laoTie，it seems the sofa! I have interested in it for times when i saw the news. Thanks for sharing

Much more guys will know the value of pf！

[2018-11-03 03:43] haolibai commented on #2
Thanks for your attention. We will keep updating PocketFlow. Also welcome you to contribute to our project.

[2018-11-03 03:43] #2 closed

[2018-11-03 06:50] molyswu opened #3 "To run PocketFlow in the local mode, e.g. to train a full-precision ResNet-20 model for the CIFAR-10"

[2018-11-03 08:05] jiaxiang-wu commented on #3
Hi, which Python version are you using? Python 2.x or Python 3.x?
PocketFlow is developed under Python 3.x.

[2018-11-03 08:50] molyswu commented on #3
tensorflow.python.framework.errors_impl.OutOfRangeError: End of sequence
	 [[Node: data/IteratorGetNext = IteratorGetNext[output_shapes=[[?,32,32,3], [?,10]], output_types=[DT_FLOAT, DT_FLOAT], _device="/job:localhost/replica:0/task:0/device:CPU:0"](data/OneShotIterator)]]
	 [[Node: model/gradients/model/resnet_model/Mean_grad/Shape-0-2-VecPermuteNCHWToNHWC-LayoutOptimizer/_53 = _Recv[client_termi

[2018-11-03 09:13] jiaxiang-wu commented on #3
Hi, could you please post the full log? Especially the FLAGS's values part.
BTW, if the data directory path correctly configured? Are data files in place?

[2018-11-03 09:51] molyswu commented on #3
Hi,
log:
Traceback (most recent call last):
  File "utils/get_path_args.py", line 23, in <module>
    assert len(sys.argv) == 4
AssertionError
Python script:
# of GPUs: 1
extra arguments:
cp: missing destination file operand after 'main.py'
Try 'cp --help' for more information.
multi-GPU training disabled
[WARNING] TF-Plus & Horovod cannot be imported; multi-GPU training is unsupported
INFO:tensor

[2018-11-04 02:34] molyswu commented on #3
my command: ./scripts/run_local.sh  nets/resnet_at_cifar10.py

Thank you for your help!

[2018-11-04 02:51] jiaxiang-wu commented on #3
Can you list files under this directory?
/home/yjzx/Downloads/wts/GPD/Project/data

It seems that the program cannot find those dta files.

[2018-11-04 06:02] LutetiumX opened #5 "Issue: tensorflow.python.framework.errors_impl.NotFoundError: "/home/karen/cifar-10-batches-bin/"; No such file or directory"
Hardware: Intel Xeon CPU, M2000M Nvidia GPU, 64G RAM
Operating System: Ubuntu 16.04

Environment:
- tensorflow==1.10.1
- Anaconda Python 3.6.6
- pandas == 0.23.4
- scikit-learn==0.20.0

Issue:
Not found: "/home/karen/cifar-10-batches-bin/"; No such file or directory

Trace:
[code]
I checked with terminal ```/home/karen/cifar-10-batches-bin exists`` with the ```ls```:
[code]
path.conf configuration

[2018-11-04 06:04] LutetiumX commented on #5
Can we also have a requirements.txt file or environment.yml file? :)

[2018-11-04 09:07] xieydd opened #6 "K8S Supported?"
Is there a plan to support the pocketflow as a k8s service ?

[2018-11-04 10:03] BowieHsu commented on #2
@zhangyunming lao tie hai xing.

[2018-11-04 18:37] GeorgeKaspar opened #7 "Pretrained models"
Could you please place pre-trained pruned models for standard architectures resnet18, mobilenetv1/2 etc...?

[2018-11-05 00:47] jiaxiang-wu commented on #7
Hi, do you mean to provide multiple pre-trained pruned models for each network (ResNet-18 or MobileNet-v1/v2), one per overall pruning ratio (or acceleration ratio)?

[2018-11-05 00:53] jiaxiang-wu commented on #5
Hi, can you try to replace this line in your configuration file:
[code]
with
[code]
which removes the double quotation marks.

[2018-11-05 01:10] BowieHsu opened #8 "Channel selection cost too much time"
<img width="890" alt="2018-11-04 11 30 55" src="https://user-images.githubusercontent.com/4092342/47972712-cc01df80-e0d9-11e8-9d4c-17dc0ed4781e.png">
scripts is "./scripts/run_local.sh nets/mobilenet_at_ilsvrc12_run.py -n=1 --learner channel", using "ChannelPrunedLeaner" method ,I check the pruning learner source code，maybe the program stacked at line504 while loop or line515 while loop?

[2018-11-05 02:15] #5 closed

[2018-11-05 02:52] jiaxiang-wu commented on #5
Hi @LutetiumX
Could you please confirm whether removing double quotation marks has resolved your problem? This could be helpful for other users.

[2018-11-05 04:15] JSnobody opened #9 "Which optimization functions need to be retrained?"
Hi，PocketFlow provides some optimization fuctions，such as channel pruning，weight sparsification，weight quantization，network distillation，multi-GPU training， hyper-parameter optimization.
Could you tell me which one needs to be retrained when I want to use.
Thanks very much!

[2018-11-05 04:26] JSnobody opened #10 "A question about DL framework"
I find PocketFlow use Tensorflow.
Is there a strong correlation between your optimization and Tensorflow?
Does the optimization apply to other DL framework?
Why not use NCNN?
Look forward to your reply!
Thansk very much!

[2018-11-05 04:31] jiaxiang-wu commented on #9
All the model compression methods requires the model to be re-trained, based on some training data, so that the performance degradation can be much smaller.

If you want to compress a model without any training operation, you may try to use:
[code]
to quantize a model with 32-bit floating-point weights into 8-bit fixed-point weights, using [post-training quantization](https://www.tensorflow.org/li

[2018-11-05 04:43] jiaxiang-wu commented on #10
Sorry, I do not fully understand your question.
1. What do you mean by "optimization"?
2. Also, ncnn is a mobile-based inference library, while ours is a training framework for producing compressed models.

[2018-11-05 04:44] dorian95 opened #11 "Support for 1D convolutions"
I was wondering if PocketFlow supports 1D convolutions. If not, how could this functionality be added? I want to compress a CNN with 1D convolutions for string classification.

[2018-11-05 04:44] jiaxiang-wu commented on #8
Hi @psyyz10 can you take a look at this issue?

[2018-11-05 04:46] JSnobody commented on #9
OK, I got it.
But, other question, does the quantization method of PocketFlow use post-training quantization by Tensorflow?

[2018-11-05 04:47] JSnobody commented on #9
OK, I got it.
But, another question, does the quantization method of PocketFlow use post-training quantization by Tensorflow?

[2018-11-05 04:47] jiaxiang-wu commented on #11
Hi, which of the following two do you mean?
1. The original network consists of 2D convolutions, and can be compressed with 2 layers of 1D- convolution.
2. The original network consists of 1D convolutions.

[2018-11-05 04:49] jiaxiang-wu commented on #9
No, we are using quantization-aware training to produce quantized models, which takes longer but the accuracy will be higher. If you don't want to use quantization-aware training, then just use post-training quantization with the above command.

[2018-11-05 04:50] dorian95 commented on #11
2. The original network consists of 1D convolutions.

[2018-11-05 04:53] jiaxiang-wu commented on #11
We do not have a plan to support such feature for the moment. You may implement it by yourself and create a pull request to PocketFlow. You contribution will be greatly appreciated.

[2018-11-05 06:06] JSnobody commented on #10
Such as channel pruning，weight sparsification，weight quantization，network distillation，multi-GPU training， hyper-parameter optimization.

[2018-11-05 06:11] JSnobody commented on #9
I see.
Thank you！

[2018-11-05 06:46] LutetiumX commented on #5
Yes, this has solved the problem.

[2018-11-05 07:05] violet17 opened #12 "Running PocketFlow in the local mode with cifar-10, it appears "./scripts/run_local.sh: line 45: 9232 Segmentation fault""
environment:
ubuntu 16.04
anaconda : python 3.6, tensorflow 1.11

$ ./scripts/run_local.sh nets/resnet_at_cifar10_run.py
Python script: nets/resnet_at_cifar10_run.py
# of GPUs: 1
extra arguments:  --model_http_url https://api.ai.tencent.com/pocketflow --data_dir_local /home/liumm/data/dataset/cifar-10-batches-py
'nets/resnet_at_cifar10_run.py' -> 'main.py'
multi-GPU training disabled
[WARNING] TF-

[2018-11-05 08:04] JingLiu95 commented on #12
I have met the same issue. When I change tensorfow to 1.09, it works.

[2018-11-05 08:06] violet17 commented on #12
Thanks! I will try this.

[2018-11-05 08:20] yuanCnD opened #13 "about fine tune"
there is a question that i want to ask:
  in real application, for example like image binary classification,  there are tow method i can use with this scrips : 1 down pretrain model and compress it, then finetune from aleady compressed pretrain model to binary cls model. 2 down pretrain model and finetune from pretrain model to binary cls model, then compress binary cls model. which method can you

[2018-11-05 11:33] jiaxiang-wu commented on #12
hi, we recommend to use TensorFlow 1.1
0, as said in the installation guide.

[2018-11-05 11:36] #9 closed

[2018-11-05 12:31] GeorgeKaspar commented on #7
Yes, it will be great!
I mean prune models from README

[2018-11-05 13:49] psyyz10 commented on #8
@BowieHsu Hi, yes, for mobilenet v2, the channel selection is slow, and for other networks the speed is ok. We will improve that by a further GPU implementation, please wait some days.

[2018-11-05 13:54] BowieHsu commented on #8
@psyyz10 many thanks, the if i rewrite all those numpy code using tensorflow op, the channel selection speed should be improved a lot, am i right?

[2018-11-05 18:17] dhingratul opened #14 "Running Quantized model on a GPU"
I want to generate a .pb file instead of a flat buffer file(.tflite) after the quantization so as to run it on a GPU. Is that possible ?
`$ python tools/conversion/export_quant_tflite_model.py --enbl_post_quant`

[2018-11-05 19:48] dhingratul opened #15 "Compressed model file from Channel Pruning"
Can you provide the optimized output from tf.Saver.save() from as the .pb file before the tflite conversion
`$ ./scripts/run_local.sh nets/resnet_at_ilsvrc12_run.py \
    --learner dis-chn-pruned`

[2018-11-05 23:49] jiaxiang-wu commented on #7
Since there are so many possible pruning ratios, and different people may have different target acceleration ratio, we think it is less meaningful to provide multiple pre-trained pruned models for each network. Still, it is possible that we provide one pre-trained pruned model for each network.
P.S.: If you have trained multiple pruned networks, we welcome you to share them with the community.

[2018-11-05 23:52] jiaxiang-wu commented on #10
TensorFlow is a framework for both training and inference, while ncnn is only for inference on mobile devices. That's why we choose TensorFlow instead of ncnn to implement these methods, since they are all training algorithms for model compression.

[2018-11-05 23:57] jiaxiang-wu commented on #13
Hi, I suggest you try and evaluate both methods on your task. It is hard to tell which one is better, since it is closely related to what your task is, which model you are using, and which model compression method you are using.

[2018-11-06 00:07] jiaxiang-wu commented on #14
As far as I know, you cannot using post-training quantization to convert a model with 32-bit floating-point weights into its counterpart with 8-bit fixed-point weights in the *.pb format. It is only provided in the TF-Lite module: `tf.contrib.lite.TocoConverter`.
You can try to quantize a model with our `UniformQuantTFLearner` with quantization-aware training, and then export the resulting model t

[2018-11-06 00:09] jiaxiang-wu commented on #15
Sorry, I do not fully understand your question. What do you mean by "optimized output from tf.Saver.save() from as the .pb file"?

[2018-11-06 00:52] dhingratul commented on #15
I am talking about the output from "Train the Compressed Model" in the tutorial,  https://pocketflow.github.io/tutorial/. I am assuming as the next step is to export it as a TFLITE file, the output from the above step is a .pb file, I am looking for that file. I see you benchmarked your optimizations for Mobile Device, i am looking to do the same for the GPU, for which i need the .pb file before y

[2018-11-06 00:53] dhingratul commented on #14
The only way to find out is to benchmark on the target H/w

[2018-11-06 01:04] jiaxiang-wu commented on #15
`tools/conversion/export_pb_tflite_models.py` generates both *.pb and *.tflite model files, located in the same directory. Can you find them in the directory specified by `--model_dir`?

[2018-11-06 01:10] dhingratul commented on #15
The imagenet download is super slow, the last time I did that it took almost 3-4 days to complete. I just want to skip that and get the .pb file directly from that tutorial if possible.

[2018-11-06 01:16] jiaxiang-wu commented on #15
Sorry, `ChannelPrunedLearner` requires the imagenet data set to complete its training process. Maybe you can try using smaller data sets, like CIFAR-10? Some modification will be required:
1. `nets/resnet_at_ilsvrc12_run.py` -> `nets/resnet_at_cifar10_run.py`
2. In `ImageClassifierFloatResNet.java`, change the image size and label file.

[2018-11-06 02:13] 3dimensions commented on #10
Does PocketFlow's compression methods apply to other training frameworks like PyTorch or Keras? Why choose Tensorflow?

[2018-11-06 02:26] lanyastar opened #16 "Supported operations of PocketFlow"
How many operations are supported under the framework of PocketFlow? I didn't find any docs listing the ops available.
By the way, the acceleration ratio according to the performance of mobilenet V1 & V2 is not so astonishing, is there any more detailed performance of other deconv models?
Many thanks.

[2018-11-06 02:36] violet17 commented on #12
I try TensorFlow 1.10,  and the error is the same.

[2018-11-06 02:37] violet17 commented on #12
The result of using TensorFlow 1.10 is the same as using TensorFlow 1.11.

[2018-11-06 02:39] JingLiu95 commented on #12
How about TensorFlow 1.09?

[2018-11-06 02:51] jiaxiang-wu commented on #12
Hi @violet17
I noticed that the data directory is set to `/home/liumm/data/dataset/cifar-10-batches-py`. Are you using the Python version of CIFAR-10 data set? You should use the binary version, downloaded from [here](https://www.cs.toronto.edu/~kriz/cifar-10-binary.tar.gz).

[2018-11-06 02:55] violet17 commented on #12
thanks.

[2018-11-06 02:58] ferriswym commented on #12
Thank you. Solved my problem.

[2018-11-06 03:05] violet17 commented on #12
I used binary version of CIFAR-10 data set ,but it still appears the "Segmentation fault"  error.

[2018-11-06 03:06] jiaxiang-wu commented on #12
Could you please post your latest full log and execution command? @violet17

[2018-11-06 03:07] violet17 commented on #12
@jiaxiang-wu
The log is listed below:
./scripts/run_local.sh nets/resnet_at_cifar10_run.py
Python script: nets/resnet_at_cifar10_run.py
# of GPUs: 1
extra arguments:  --model_http_url https://api.ai.tencent.com/pocketflow --data_dir_local /home/liumm/data/dataset/cifar-10-binary/
'nets/resnet_at_cifar10_run.py' -> 'main.py'
multi-GPU training disabled
[WARNING] TF-Plus & Horovod cannot be imported

[2018-11-06 03:09] jiaxiang-wu commented on #12
Can you list files under this directory `/home/liumm/data/dataset/cifar-10-binary/`? @violet17

[2018-11-06 03:15] violet17 commented on #12
@jiaxiang-wu  Oh, I made a mistake.
The directory /home/liumm/data/dataset/cifar-10-binary/ contained cifar-10-bin instead of the dataset files, so the scripts didn't works.
Thank you very much for your help!

[2018-11-06 03:16] jiaxiang-wu commented on #12
You're welcome. Closing this issue.

[2018-11-06 03:16] #12 closed

[2018-11-06 03:29] jiaxiang-wu commented on #10
@3dimensions @JSnobody
We choose TensorFlow since it is one of the most popular DL framework for the moment. It is possible to extend PocketFlow to other frameworks, e.g. PyTorch, but this will require lots of works.
On the other hand, these model compression methods are not limited to TensorFlow. You surely can implement them using PyTorch or other DL frameworks.

[2018-11-06 03:52] as754770178 opened #17 "how to use local model"
If i create 'models' sub-directory in PocketFlow's home directory, the PocketFlow will use the local model and not download from model_http_url?

[2018-11-06 04:05] as754770178 opened #18 "Segmentation fault"
python3.6 cuda9 cudnn7 tensorflow:1.10.0

`(tf-1.10-cp3) [zgz@localhost PocketFlow]$ ./scripts/run_local.sh nets/resnet_at_cifar10_run.py
Python script: nets/resnet_at_cifar10_run.py
# of GPUs: 1
extra arguments:  --model_http_url https://api.ai.tencent.com/pocketflow --data_dir_local /home/zgz/project/data_set/cifar-10-batches-py
Traceback (most recent call last):
  File "utils/get_idle_gpus.py",

[2018-11-06 05:55] as754770178 commented on #18
`Traceback (most recent call last):
  File "utils/get_idle_gpus.py", line 54, in <module>
    raise ValueError('not enough idle GPUs; idle GPUs are: {}'.format(idle_gpus))
ValueError: not enough idle GPUs; idle GPUs are: []
‘nets/resnet_at_cifar10_run.py’ -> ‘main.py’
`
and

`2018-11-06 14:54:44.429596: E tensorflow/stream_executor/cuda/cuda_driver.cc:397] failed call to cuInit: CUDA_ERROR_NO_DEVI

[2018-11-06 06:01] jiaxiang-wu commented on #18
Can you post the result of nvidia-smi?
[code]

[2018-11-06 06:03] as754770178 commented on #18
`(tf-1.10-cp3) [zgz@localhost models]$ nvidia-smi
Tue Nov  6 15:05:06 2018
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 396.26                 Driver Version: 396.26                    |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan

[2018-11-06 06:07] jiaxiang-wu commented on #18
In `utils/get_idle_gpus.py`, a GPU device is treated as idle if there is no process running on it. According to your `nvidia-smi`'s results, each of these four GPUs have some processes running, so `utils/get_idle_gpus.py` cannot find an idle one.

To temporarily override this, you may skip calling `utils/get_idle_gpus.py` and manually specify an idle GPU in `scripts/run_local.sh`.

[2018-11-06 06:10] as754770178 commented on #18
OK, thanks

[2018-11-06 06:12] jiaxiang-wu commented on #16
PocketFlow is a training framework for generating compressed models, rather than an inference library for deploying compressed model. We use TensorFlow Lite for deployment on mobile devices.

By "other deconv models", which models do you mean exactly?

[2018-11-06 06:17] as754770178 opened #19 "The structure of my resnet is different from built in PocketFlow，I how to change the structure?"
command:
`./scripts/run_local.sh nets/resnet_at_cifar10_run.py --learner dis-chn-pruned`

error:
`NotFoundError (see above for traceback): Restoring from checkpoint failed. This is most likely due to a Variable name or other graph key that is missing from the checkpoint. Please ensure that you have not altered the graph expected based on the checkpoint. Original error:

Key model/resnet_model/batc

[2018-11-06 06:31] chenweihua91 opened #20 "about transformer framework"
Is there a plan to support the transformer framework?

[2018-11-06 06:35] jiaxiang-wu commented on #20
Yes, we have plans to support RNN/LSTM-based models, in the next few months.

[2018-11-06 06:38] jiaxiang-wu commented on #18
Closing this issue. Reopen it if there is any further questions.

[2018-11-06 06:38] #18 closed

[2018-11-06 06:42] jiaxiang-wu commented on #19
Hi, are you using checkpoint files produced by your own training code, instead of pre-trained models provided by us? This will cause the above error message.

If you do need to use your own model definition and pre-trained models, then you need to create your own `ModelHelper` class and a Python script to use it, similar to:
1. `nets/resnet_at_cifar10.py` (which defines a `ModelHelper` class)
2. `

[2018-11-06 06:43] as754770178 commented on #19
I download models_resnet_56_at_cifar_10.tar.gz from https://api.ai.tencent.com/pocketflow/list.html, and decompress it in models.

error:
InvalidArgumentError (see above for traceback): Restoring from checkpoint failed. This is most likely due to a mismatch between the current graph and the graph from the checkpoint. Please ensure that you have not altered the graph expected based on the checkpoin

[2018-11-06 08:06] lanyastar commented on #16
Thank u for quick reply.
1. So what if i get some customer OPs out of TF lite? Do i need to design the quantize rule using Gemm for mobile device acceleration OR PocketFlow has done all the dirty work?
2、Say shufflenet or inception

[2018-11-06 08:55] jiaxiang-wu commented on #16
1. PocketFlow does not include support for customized OPs in TF-Lite. If your OP is not supported by TF-Lite, then you need to provide your own implementation.
2. We will add some benchmark results for these two networks in the next few weeks.

[2018-11-06 08:56] jiaxiang-wu commented on #16
Enhancement required: add benchmark results for ShuffleNet & Inception models.

[2018-11-06 08:59] jiaxiang-wu commented on #10
Closing this issue. Reopen it if there are any further questions.

[2018-11-06 08:59] #10 closed

[2018-11-06 11:14] jiaxiang-wu commented on #20
Enhancement required: add support for RNN/LSTM-based models, *e.g.* Transformer.

[2018-11-06 11:35] BowieHsu commented on #19
you have to modify the layer num in resnet.py，the default layer num should be 50 or 101

[2018-11-06 11:38] jiaxiang-wu commented on #19
Hi @as754770178
For `nets/resnet_at_cifar10_run.py`, the default number of layers is 20. Since you have downloaded the ResNet-56 model, you need to specify the number of layers with `--resnet_size 56`.

[2018-11-06 14:32] backyes opened #23 "Why learner has hard-code about dataset, such as, different dataset uses different learning rate control policy."
E.g.

[code]

more details,

[code]

This design will have strong limitation for testing new dataset, I doubt. Wish some replies about this design.

Many thanks.

[2018-11-06 15:58] EricDoug opened #24 "no requirements.txt file to help user install the necessary packages"
When I running the command with the command **./scripts/run_local.sh nets/resnet_at_cifar10_run.py** in the installation documentation, but I found there are too many package shoud to install for run the demo. I wonder if it possible to add a requirements.txt file to call user intall the basic package for running the demo.

[2018-11-07 01:04] jiaxiang-wu commented on #23
We are planning to remove the dependency on data set's name in `UniformQuantLearner` and `NonUniformQuantLearner`.
For most scenarios, such hard code can be replaced by defining FLAGS variables for higher flexibility. Particularly, the `setup_bnds_decay_rates` function can be removed by defining a decaying factor for learning rate, as we did in `UniformQuantTFLearner`.
For `WeightSparseLearner`, t

[2018-11-07 01:10] jiaxiang-wu commented on #24
Enhancement required: add `requirements.txt` to list all dependencies.

[2018-11-07 01:13] jiaxiang-wu commented on #23
Enhancement: remove the hard code related to data set's names in learners' implementation.

[2018-11-07 02:33] as754770178 commented on #19
Thanks. I misunderstood the function of PocketFlow, I think the net defined in nets/resnet_at_cifar10_run.py is the student net. Actually, PocketFlow Pruning/Quantization the net  defined in nets/resnet_at_cifar10_run.py as the student net?   Is my idea correct?

[2018-11-07 02:42] jiaxiang-wu commented on #19
I'm not sure whether I have understood your question.

In PocketFlow, the student network and teacher network (only exists if network distillation is enabled) share the same network architecture. The student network may have further restrictions introduced by pruning or quantization operations, while the teacher network is the full-precision uncompressed network. Does this resolve your question?

[2018-11-07 02:58] as754770178 commented on #19
I want to confirm that the student only come from the pruning or quantization operations of the full-precision uncompressed network in the network distillation.

[2018-11-07 03:16] MaxwellHan opened #25 "i can't get the horovod images using the cmd 'docker pull uber/horovod' which provided by tutorial,how can i get the docker enviroment?"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with PocketFlow, or support for problems that are not verified bugs in PocketFlow, please go to [StackOverflow](https://stackoverflow.com).

For high-level discussions about TensorFlow, please post to [discuss group](https://groups.google.com/forum/#!forum/pocketflow).

[2018-11-07 03:33] jiaxiang-wu commented on #25
Hi, can you post the error message?

[2018-11-07 03:38] jiaxiang-wu commented on #19
Yes, for all model compression methods in PocketFlow, the compressed network (or student network) only comes from the pruned / quantized version of a full-precision uncompressed network (or teacher network). This is irrelevant to network distillation, which only adds a distillation loss term in the training of student network.

[2018-11-07 03:38] as754770178 commented on #19
ok, thanks

[2018-11-07 03:39] #17 closed

[2018-11-07 03:53] herbiezhao opened #26 "how i use docker mode or seven mode to train using muti-GPUs"
I have configured docker and nvidia-docker, and pulled uber/horovod, when I run command"sudo ./scripts/run_docker.sh nets/resnet_at_ilsvrc12_run.py -n=4 --learner channel --cp_preserve_ratio 0.5 --resnet_size 18" , I got "nvidia-docker | 2018/11/07 11:25:39 Error: Error response from daemon: Get https://docker.oa.com/v2/: x509: certificate signed by unknown authority"
How can I fix this issue, and

[2018-11-07 03:56] as754770178 commented on #19
I define my net, but the name of variable is Prefixed of 'model', such as 'model/resnet_v1_110/block1/unit_1/bottleneck2_v1/conv1/BatchNorm/beta ', but it should is 'resnet_v1_110/block1/unit_1/bottleneck2_v1/conv1/BatchNorm/beta '.

`NotFoundError (see above for traceback): Restoring from checkpoint failed. This is most likely due to a Variable name or other graph key that is missing from the che

[2018-11-07 04:02] herbiezhao commented on #25
try "docker pull uber/horovod:0.14.1-tf1.10.0-torch0.4.0-py3.5"

[2018-11-07 05:52] as754770178 opened #27 "The name of variables in net is prefixed by 'model'"
I define my net, but the name of variable is Prefixed of 'model', such as 'model/resnet_v1_110/block1/unit_1/bottleneck2_v1/conv1/BatchNorm/beta ', but it should is 'resnet_v1_110/block1/unit_1/bottleneck2_v1/conv1/BatchNorm/beta '.

`NotFoundError (see above for traceback): Restoring from checkpoint failed. This is most likely due to a Variable name or other graph key that is missing from the che

[2018-11-07 06:07] as754770178 opened #28 "The name of variables in net is prefixed by 'model'"
I define my net, but the name of variable is Prefixed of 'model', such as 'model/resnet_v1_110/block1/unit_1/bottleneck2_v1/conv1/BatchNorm/beta ', but it should is 'resnet_v1_110/block1/unit_1/bottleneck2_v1/conv1/BatchNorm/beta '.

`NotFoundError (see above for traceback): Restoring from checkpoint failed. This is most likely due to a Variable name or other graph key that is missing from the che

[2018-11-07 06:18] jiaxiang-wu commented on #27
The checkpoint files are generated by your own code, instead of `FullPrecLearner` in PocketFlow?

A quick work-around is to rename all the variables in the checkpoint files. You may refer to the `__rename_var_scope` function from `DistillationHelper` class for a reference implementation.
Link: [https://github.com/Tencent/PocketFlow/blob/master/learners/distillation_helper.py#L123](https://github.c

[2018-11-07 06:28] jiaxiang-wu commented on #27
Which learner are you using? Be careful, removing the name scope "model" may cause unexpected errors.

[2018-11-07 06:29] jiaxiang-wu commented on #28
Duplicated with this issue [https://github.com/Tencent/PocketFlow/issues/27](https://github.com/Tencent/PocketFlow/issues/27).

[2018-11-07 06:38] Aspirinkb opened #29 "Single GPU card is not available on PC"
The `get_idle_gpus.py` in `utils` folder is about to detect how many GPU cards are available on the machine. For many users, there is only one GPU card on their PC for graphical display which leads no GPU available (the only one is busy). So, we should fix the issue by change the way of detecting available GPUs.

[2018-11-07 06:42] Aspirinkb commented on #29
I have a GTX 1080 on my PC for training. So I comment the `busy_gpus.append(sub_strs[1])` line and add a `pass` line to ignore the  busy GPU detection.

[2018-11-07 06:45] jiaxiang-wu commented on #29
Enhancement required: change the way of detecting available GPUs.

[2018-11-07 06:45] xiaomr opened #30 "Resnet20 cifar10 compress experiment cant get a small model"
Hello, I run the example in tutorial of cifar10 resnet20 experiment, in ChannelPrune Mode, after the compress procedure and the finetune procedure, I get some ckpt models in ./modes,  such as original_model.ckpt*,  pruned_model.ckpt.*, best_model.ckpt.*,    however, all of those models are 1.1M in my disk,  It seems that compression doesn't work , I inspect to the variable of ckpt models, the shap

[2018-11-07 06:49] #28 closed

[2018-11-07 06:51] as754770178 commented on #27
--learner dis-chn-pruned
I can not found the statement that add the prefix 'model', could you tell me.

[2018-11-07 06:53] jiaxiang-wu commented on #27
The prefix is defined in the `AbstractLearner` class, line 64:
[https://github.com/Tencent/PocketFlow/blob/master/learners/abstract_learner.py#L64](https://github.com/Tencent/PocketFlow/blob/master/learners/abstract_learner.py#L64)

[2018-11-07 06:53] #7 closed

[2018-11-07 06:56] psyyz10 commented on #8
@BowieHsu Yes of course, if you can do that, your contributions is very welcome.

[2018-11-07 06:57] #11 closed

[2018-11-07 06:57] #13 closed

[2018-11-07 06:58] jiaxiang-wu commented on #30
After channel pruning, the resulting checkpoint files still save weight tensors in their original sizes, including those all-zero channels. Therefore, the checkpoint files will not be smaller.
We have provided a model conversion script, `tools/conversion/export_pb_tflite_models.py`, to generate *.pb and *.tflite models that are smaller after channel pruning. See the [tutorial documentation](https:

[2018-11-07 06:58] as754770178 commented on #27
OK, thanks

[2018-11-07 06:59] #27 closed

[2018-11-07 07:00] psyyz10 commented on #30
@xiaomr Or you can delete

[2018-11-07 07:13] psyyz10 commented on #6
We have the plan to support that in the near future.

[2018-11-07 07:17] herbiezhao commented on #26
In scripts/run_docker.sh, NV_GPU=xxx docker.oa.com/g_tfplus/horovod:python3.5 bash. Should I use "uber/horovod" instead of "docker.oa.com/g_tfplus/horovod:python3.5", because i have pulled image uber/horovod .

[2018-11-07 07:29] jiaxiang-wu commented on #26
Yes, you should use "uber/horovod" instead of "docker.oa.com/g_tfplus/horovod:python3.5".

[2018-11-07 07:33] jiaxiang-wu commented on #19
It seems this issue has been resolved in [https://github.com/Tencent/PocketFlow/issues/27](https://github.com/Tencent/PocketFlow/issues/27). Closing. Reopen it if there are any further questions.

[2018-11-07 07:33] #19 closed

[2018-11-07 09:29] zmhik opened #31 "the produced mode can be used on nvidia-tx2(arm) gpu chip, which is jetson not x86?"
And another quesetion:
it can support to prune, quantify and sparse the detection mode or other type modes, no just classification mode?
Thanks!

[2018-11-07 09:55] Gxllii opened #32 "Documentation Issue"
<em>Please make sure that this is a documentation issue.

**System information**
- PocketFlow version:
- Doc Link: https://pocketflow.github.io/distillation/

**Describe the documentation issue**
There is a spelling mistake in the title -- "Distillation".
Some letters of the first word "*K*nowledge" is missing.

**We welcome contributions by users. Will you be able to update submit a PR to fix the

[2018-11-07 10:19] jiaxiang-wu commented on #31
We are currently working on model compression for object detection models and will release the code ASAP.

[2018-11-07 11:03] MaxwellHan commented on #25
看了教程，我做了以下步骤的操作：
step1. path.conf中指定了cifar数据集的地址
step2. 我用 docker pull uber/horovod:0.15.1-tf1.11.0-torch0.4.1-py3.5  pull下了镜像
step3. 修改scripts/run_docker.sh 文件，把执行nvidia-docker的镜像名从
           docker.oa.com/g_tfplus/horovod:python3.5  改为  uber/horovod:0.15.1-tf1.11.0-torch0.4.1-py3.5
step4. 执行./scripts/run_docker.sh  nets/resnet_at_cifar10_run.py，进入到了容器的bash命令中。但是既没有调用到gpu也没有运算，请问这样操作有什么问题，或者下一步应

[2018-11-07 11:41] psyyz10 commented on #24
Resolved in [PR#33](https://github.com/Tencent/PocketFlow/pull/33)

[2018-11-07 11:41] #24 closed

[2018-11-07 11:51] #32 closed

[2018-11-07 14:14] xiaomr commented on #30
Thanks for the explanation, It works!  with the help of tools/conversion/export_pb_tflite_models.py, I
 got the smaller compressed pb。Here comes a few another question, Firstly,  it seems this tool only support the fullprecison mode and dis_chn_pruned mode，because both of them have the collection of images final and logits final which are necessary for this tool, when I use this tool for channel p

[2018-11-08 00:53] jiaxiang-wu commented on #25
After entering the docker environment, use the following command to start the program:
[code]

P.S.: Please use English for future discussion, if possible.

[2018-11-08 01:38] howtocodewang opened #34 "Can't use GPU in the local mode."
**Describe the bug**
My environment settings are:
1. Anaconda env and Python = 3.6
2. Tensorflow = 1.11.0
3. CUDA version = 9.0

**To Reproduce**
Steps to reproduce the behavior:
1. I run the demo shown in the local mode:
    "./scripts/run_local.sh nets/resnet_at_cifar10_run.py"
2. Then I got these information as blow:
    `(pruning_tf) daisy@deep-learning:~/Pruning_and_Compression/PocketFlow$ ./

[2018-11-08 01:45] jiaxiang-wu commented on #34
Thanks for the detailed description.
This is caused by the same problem as discussed in issue [https://github.com/Tencent/PocketFlow/issues/29](https://github.com/Tencent/PocketFlow/issues/29). PocketFlow failed to use the GPU device due to the over-strict definition of "idle GPU" in `utils/get_idle_gpus.py`. In that Python script, only GPUs without any running processes are defined as idle GPUs.

[2018-11-08 01:46] jiaxiang-wu commented on #34
Enhancement required: change the way of detecting available GPUs.

[2018-11-08 01:47] backyes commented on #23
Got it. Thanks your  kind reply.

[2018-11-08 02:34] jiaxiang-wu commented on #34
@howtocodewang No problem. We will update this issue after the fix is done, and also send you an e-mail as notification.

[2018-11-08 02:48] xiaomr commented on #30
@jiaxiang-wu @psyyz10

[2018-11-08 02:52] jiaxiang-wu commented on #30
1. We are investigating the model conversion issue for channel pruning module.
2. After channel pruning, 1x1 convolution will be added for channel selection and this will bring speed-up for CPU-based inference with TF-Lite, according to our evaluation results. The speed-up on GPU may be negligible.

[2018-11-08 02:53] jiaxiang-wu commented on #30
Bug: cannot convert the compressed model from channel pruning module to *.pb & *.tflite models.

[2018-11-08 03:04] xiaomr commented on #30
@jiaxiang-wu ,  Tank you !   Another observation makes me confused is that in full precision mode,   model_transformed.pb is much  faster than model_original.pb, about 5X speed up in GPU , the channels are not be pruned,  so why the graph edition (seems only contain dropout related edition) can accelerate so much?

[2018-11-08 06:51] xiaomr commented on #30
@jiaxiang-wu The details are as following:
I set the mode of full precision to train resnet20 cifar10 and  I get  checkpoint file of
  model.ckpt.data-00000-of-00001, model.ckpt.index and model.ckpt.meta in ./model_eval after training,   then I use  tools/conversion/export_pb_tflite_models.py to convert model,  I  add inference time test code in test_pb_model function of the script,  test the aver

[2018-11-08 12:45] as754770178 opened #35 "How to compress model in Multi-machine"
I want to compress the model in How to compress model in Multi-machine

[2018-11-08 14:37] jiaxiang-wu commented on #30
@xiaomr Could you please upload all the files under the `models_eval` directory?

[2018-11-08 19:53] dhingratul commented on #15
Yes, i understand, i was hoping that you have that you make the optimized model(after pruning) available so that i can do some benchmarks to make sure the results in terms of gains is reproducible on my machine.

[2018-11-09 00:09] jiaxiang-wu commented on #15
Okay, we will release pre-trained compressed models for some selected pruning ratio in the next few weeks.

[2018-11-09 00:09] jiaxiang-wu commented on #15
Enhancement required: release a few pre-trained compressed models for benchmark test.

[2018-11-09 00:10] jiaxiang-wu commented on #35
You mean how to train a compressed model with multiple nodes/machines?

[2018-11-09 01:40] MaxwellHan commented on #25
when i get into the docker eviroment and run "./main.sh" ,i got
"Could not find a version that satisfies the requirement docopt"
"Could not find a version that satisfies the requirement hdfs "
......
"Could not find a version that satisfies the requirement pandas" .et
,which means python doesn't have those modules.
Is the docker image "uber/horovod:0.15.1-tf1.11.0-torch0.4.1-py3.5" a wrong image?

[2018-11-09 01:51] xieydd commented on #25
I have veen tested in k8s , and use horovod ,it`s ok.

[2018-11-09 01:52] xieydd commented on #35
When using the horovod, i think it`s feasible.

[2018-11-09 01:53] as754770178 commented on #35
Yes, but I mean compress the model by Prunning/Quantization, then train the compress model with multiple nodes/machines.

I have other questions:
1. Can PocketFlow compress Classification network， such as Yolo, fasterCNN?
2. I how to verify the inference speed of compressed model is faster than the full-precision uncompressed network?

thanks

[2018-11-09 01:56] as754770178 commented on #35
What's it?

[2018-11-09 01:59] xieydd commented on #35
Horovod is Distributed training framework for TensorFlow, Keras, and PyTorch.
1.  AFAIK，it not yet support the state-of-art models lke the Yolo or fasterCNN
2. you can test in TensorRT

[2018-11-09 02:35] as754770178 commented on #35
I mean use tf-serving to test the speed? Can horovod support compress model? I want compress model and train it together, like PocketFlow.

[2018-11-09 02:42] jiaxiang-wu commented on #35
1. Horovod is a distributed training framework. It does not care what code is running within.
2. The speed improvement on GPU will be less significant than on ARM-based mobile devices, according to our experience.

[2018-11-09 02:48] Ariel-JUAN commented on #14
@jiaxiang-wu
Hi, I use python tools/conversion/export_quant_tflite_model.py --model_dir ./models --input_coll inputs --output_coll outputs --quantize True to do the quantization, but I am not sure what does inputs and outputs mean? What should I put in?

[2018-11-09 02:54] jiaxiang-wu commented on #14
The `input_coll` and `output_coll` arguments are used to locate the input and output tensors in the original / compressed model. For instance, in `DisChnPrunedLearner`, we mark the input and output tensors with:
[code]
In this case, we use `--input_coll images_final --output_coll logits_final` (which are default values of these two arguments) to locate input and output tensors.

https://github.com

[2018-11-09 03:10] Ariel-JUAN commented on #14
@jiaxiang-wu
Hi, thanks for replying.
There is a model which doesn't specify the input and output tensors using tf.add_to_collection operation. Can't I get the quantized model?
Can I just specify the input and output tensor without using tf.get_collection?

[2018-11-09 03:15] jiaxiang-wu commented on #14
@Ariel-JUAN
You can load the checkpoint file, mark input and output tensors with `tf.add_to_collection`, and save the graph to checkpoint files, so that the model conversion script can recognize them.

[2018-11-09 04:42] KranthiGV commented on #34
Will be glad to send a PR fixing this. I would like to have a clarification on the new policy though.
What should be termed as an idle GPU? [Currently..a GPU with no processes running is defined as idle gpu in `utils/get_idle_gpus.py`].

[2018-11-09 06:52] as754770178 commented on #35
Can PocketFlow compress multi-label Classification network?

[2018-11-09 07:45] psyyz10 commented on #30
@xiaomr full precision learner will not do any compression, it is just a learner to train a model. Please use other learners to compress the model.

[2018-11-09 07:53] Ariel-JUAN commented on #14
@jiaxiang-wu
Hi, I did as you told me and it worked~
But I got confused again. Why use export_pb_tflite_model to operate pb file twice? After that I got a model_original.pb and model_transformed.pb?
My original model.ckpt.data is about 255M, and meta is about 255M. The model_original.pb is about 255M but the model_transformed.pb is about 400M.
It is normal? I thought the quantized model should be

[2018-11-09 07:59] jiaxiang-wu commented on #35
Yes, you can define a new `ModelHelper` class, including the network architecture and the computation of loss function's value, similar to other `ModelHelper` classes defined under the `nets` directory.

[2018-11-09 08:00] jiaxiang-wu commented on #14
Which model conversion script are you using? And, which model compression method (or "learner") are you using to obtain the compressed model?

[2018-11-09 08:07] Ariel-JUAN commented on #14
@ the command is python tools/conversion/export_pb_tflite_models.py --model_dir ./models --input_coll input --output_coll output.

[2018-11-09 08:11] jiaxiang-wu commented on #14
This model conversion script is used to convert channel pruned models, rather than quantized models, to TF-Lite models. If the compressed model you provided is not channel pruned, then "model_transformed.pb" and "model_transformed.tflite" models may be larger due to newly inserted 1x1 convolutional layers.

[2018-11-09 08:23] zhangqianYY opened #37 "why it reports FLAGS.data_dir_local is None?"
hello, i run the example resnet_at_cifar10, and use command './scripts/run_docker.sh nets/resnet_at_cifar10_run.py', i copyed path.conf.template and rename path.conf in PocketFlow-master file,and i set data_dir_local_cifar10 = /media/gavin/Data/PycharmProjects/datasets/cifar10_data/cifar-10-batches-bin/   in path.conf  file ,but the log shows FLAGS.data_dir_local is None ?
the log :
Traceback (mos

[2018-11-09 08:32] as754770178 commented on #35
OK, thanks.

[2018-11-09 08:32] #35 closed

[2018-11-09 08:41] Ariel-JUAN commented on #14
@jiaxiang-wu
I check the tutorial: [https://pocketflow.github.io/tutorial/#export-to-tensorflow-lite](url)
And it says: the conversion script automatically detects which channels can be safely pruned, and then produces a light-weighted compressed model.
So after I use the command: python tools/conversion/export_pb_tflite_models.py --model_dir ./models --input_coll input --output_coll output
I got

[2018-11-09 09:20] Ariel-JUAN opened #39 "Can I use my own dataset to retrain?"
Can I use my own dataset to retrain not using CIFAR or Imagenet？
If this could happen, where should I revise？

[2018-11-09 10:42] jiaxiang-wu commented on #39
Yes, you can!
Define a new `ModelHelper` class, including the data input pipeline for your own data set, and the network architecture, similar to other `ModelHelper` classes defined under the "./nets" directory.

[2018-11-09 10:49] #14 closed

[2018-11-09 11:03] zhangqianYY commented on #37
the follow is full content of 'path.conf':

# Notes on HDFS-related configurations:
# * data_hdfs_host:
#     HDFS host for remote datasets.
#     This will be used by TensorFlow's data input pipeline.
#     Format: hdfs://IP_Address:Port
#     Leave 'None' unchanged if HDFS is not availabe.
# * model_http_url:
#     HTTP/HTTPS url for remote model files.
#     This will be used to download pre-tr

[2018-11-09 11:07] zhangqianYY commented on #37
the follow is full content of 'path.conf':

# Notes on HDFS-related configurations:
# * data_hdfs_host:
#     HDFS host for remote datasets.
#     This will be used by TensorFlow's data input pipeline.
#     Format: hdfs://IP_Address:Port
#     Leave 'None' unchanged if HDFS is not availabe.
# * model_http_url:
#     HTTP/HTTPS url for remote model files.
#     This will be used to download pre-tr

[2018-11-09 11:12] zhangqianYY commented on #37
the following is full content of 'path.conf':

### # Notes on HDFS-related configurations:
### # * data_hdfs_host:
### #     HDFS host for remote datasets.
### #     This will be used by TensorFlow's data input pipeline.
### #     Format: hdfs://IP_Address:Port
### #     Leave 'None' unchanged if HDFS is not availabe.
### # * model_http_url:
### #     HTTP/HTTPS url for remote model files.
### #

[2018-11-09 11:15] jiaxiang-wu commented on #37
Please change
[code]
into
[code]
which surrounds "=" with two whitespaces, as required by `utils/get_path_args.py`.

[https://github.com/Tencent/PocketFlow/blob/master/utils/get_path_args.py#L50](https://github.com/Tencent/PocketFlow/blob/master/utils/get_path_args.py#L50)

[2018-11-09 11:21] zhangqianYY commented on #37
I succeeded,thank you very much for your help

[2018-11-09 11:22] jiaxiang-wu commented on #37
You're welcome.

[2018-11-09 11:22] #37 closed

[2018-11-09 16:32] jiayiliu commented on #26
Any reference for the distributed learning platform "Seven"?  I didn't find it somehow...  Thanks

[2018-11-10 02:08] jiaxiang-wu commented on #26
@jiayiliu
"Seven" is only available within Tencent. For users outsides Tencent, please use the local & docker mode.

[2018-11-10 14:12] ChuangbinC opened #41 "How can I convert sparise weight model to *.pb"
I use the WeightSparseLearner to generate a smaller model and I want to know how to convert it to `*.pb`.
I try to use `export_pb_tflite_models.py` but it has a error.

[2018-11-11 01:16] howtocodewang commented on #34
@KranthiGV In my opinion, an idle GPU which is defined by authors is a GPU with no any processes even as a display device. That means if you only have one GPU in your PC, your GPU will process some display tasks at the same time while you are running some GPU-based algorithm. In this situation, your GPU is not an idle GPU. So I encountered this issue on a PC with one GPU device but ran the demo su

[2018-11-11 01:55] jiaxiang-wu commented on #34
@howtocodewang Yes, you are right.
@KranthiGV How about a GPU with at least 50% GPU memory free? Or, if multiple GPUs are presented, return the GPU with the most free memory? What's your opinion?

[2018-11-11 02:00] jiaxiang-wu commented on #41
That model conversion script is for channel pruning based methods only. That's why you encountered an error.

Currently, we do not support convert a compressed model generated by `WeightSparseLearner` to *.pb & *.tflite models, since TF-Lite does not support sparse matrix-matrix multiplication, as far as we know.

[2018-11-11 09:19] qingqing01 opened #42 "The description for uql_bucket_size and uql_quantize_all_layers is the same in the uniform quantization doc."
See the doc https://pocketflow.github.io/uq_learner/#uniform-quantization-learner

[2018-11-12 01:29] #31 closed

[2018-11-12 01:30] #39 closed

[2018-11-12 01:31] #26 closed

[2018-11-12 01:31] #25 closed

[2018-11-12 01:32] jiaxiang-wu commented on #3
It has been one week since last activity. Closing the issue. Reopen it if there are any further question.

[2018-11-12 01:32] #3 closed

[2018-11-12 03:34] as754770178 opened #43 "model path"
1. `Discrimination-aware Channel Pruning` have the parameter `dcp_save_path` and `dcp_save_path_eval` to set the save path of compressed model. Other way in PocketFlow, whether have the similiar parameter to set the save path of compressed model.

2. The parameter `save_path` in file `abstract_learner.py` is mean the save path of the full-precision uncompressed network ?  What's the function of pa

[2018-11-12 03:57] AllenDun opened #44 "can pocketflow be used for object detection model"
thanks for the great work. Many tasks in industry scene are object detections. Can pocketflow be used for object detection model, such as ssd, faster rcnn?

[2018-11-12 04:16] 1448643857 opened #45 "how to set my data path"
I want to train models in my data, I want to know how to set path to my data,thank u

[2018-11-12 06:19] KranthiGV commented on #34
1) At least 50% free memory of GPU seems to be a good assumption since display processes won't take more than 50%. They usually take only a few hundreds of MB.
2) It multiple GPUs are present, returning GPU with most free memory is not desirable. Currently, we return a list of GPUs (example `0,1,2,3` or `0,1`, etc). Returning only the GPU with most free memory would prevent multi-GPU usage.

I'll

[2018-11-12 06:30] as754770178 commented on #45
set data path in `path.conf` file, you can reference `path.conf.template`  file

[2018-11-12 06:33] jiaxiang-wu commented on #45
@1448643857
If you are using data sets besides CIFAR-10 and ILSVRC-12, then you need to define a new `ModelHelper` class to tell PocketFlow how to parse your data, as other `ModelHelper` classes defined in the "./nets" sub-directory.

[2018-11-12 06:41] jiaxiang-wu commented on #43
1. We are considering unifying the save path arguments for model compression components. For instance, all model compression components should write the training graph (and variables) to `mc_save_path` and the evaluation graph (and variables) to `mc_save_path_eval`.

2. Yes, `save_path` means the save path of the full-precision uncompressed network, particularly the training graph (and variables).

[2018-11-12 06:46] jiaxiang-wu commented on #44
Enhancement required: add support for object detection models.

[2018-11-12 07:30] jiaxiang-wu commented on #43
1. `save_path` & `save_path_eval` is written by the `FullPrecLearner`, and `dcp_save_path` & `dcp_save_path_eval` is written by the `DisChnPrunedLearner`. When running model compression components, only `save_path` is required to load a pre-trained uncompressed model.
2. As mentioned above, for model compression components, only `save_path` is required. You do not need to provide the `save_path_ev

[2018-11-12 07:53] GaofengCheng commented on #20
@jiaxiang-wu any progress in supporting LSTM/GRU? I'm from ASR filed and very interested in seeing the effect of pocketflow in LSTM/GRU.

[2018-11-12 08:05] as754770178 commented on #43
Where define the save path of compressed model other than `DisChnPrunedLearner` mode?

[2018-11-12 08:09] LinkenMu opened #46 "./scripts/run_local.sh nets/lenet_at_cifar10_run.py gets a segmentfault ?"
./scripts/run_local.sh nets/lenet_at_cifar10_run.py    gets a segmentfault .

# dataset  path:
~/PocketFlow/data/cifar10$ ls
eval.tfrecords  train.tfrecords  validation.tfrecords

# path.conf:
#data files
data_hdfs_host = None
data_dir_local_cifar10 = /home/cv/PocketFlow/data/cifar10
data_dir_hdfs_cifar10 = None
data_dir_seven_cifar10 = None
data_dir_docker_cifar10 = /opt/ml/data  # DO NOT EDIT
da

[2018-11-12 08:30] as754770178 commented on #43
I don't fount the parameter, but I want to know you how to specify the path? and I found some variable w.r.t path is specified to fixed value, such as `channel_pruned_path = './models/pruned_model.ckpt'
    best_model_path = './models/best_model.ckpt'`, Can you tell me what they means?

[2018-11-12 17:48] GeorgeKaspar commented on #7
@jiaxiang-wu yes it will be great to provide few pretrained pruned models

[2018-11-12 18:05] dhingratul opened #47 "tensorflow.python.framework.errors_impl.FailedPreconditionError: Bad file descriptor"
**Describe the bug**
A clear and concise description of what the bug is.
When running the channel pruning tutorial in local mode, i get the following error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applic

[2018-11-13 00:16] jiaxiang-wu commented on #47
How did  you convert ImageNet to *.tfrecord files? And, can you verify whether this file exists (and its file permission allows reading)?
`/mnt/cifs/public_datasets/imagenet-data/train-00876-of-01024`

[2018-11-13 00:17] jiaxiang-wu commented on #46
Hi, can you list files under this directory?
`/home/cv/PocketFlow/data/cifar10`

[2018-11-13 01:42] terrydlca opened #48 "What's the training parameters for MobileNetV2 8 Bit Fixed-point?"
Thanks for sharing the great work. What's the training parameters for MobileNetV2 8 Bit Fixed-point to get the 72.26% accuracy?

Is this correct? Any other parameter needed?

sh ./scripts/run_local.sh nets/resnet_at_ilsvrc12_run.py \
--learner=uniform \
--data_disk local \
--data_dir_local ${PF_ILSVRC12_LOCAL} \
--uql_weight_bits=8 \
--uql_activation_bits=8 \

[2018-11-13 02:22] wangxianrui opened #49 "is this fully_quantized model?"
Are  quantized models  fully_quantized?
can they run on chips that only integer operation  supported?
thanks.

[2018-11-13 03:30] LinkenMu commented on #46
cv@cv-System-Product-Name:~/PocketFlow/data/cifar10$ ls -lh
total 179M
-rwxrwxr-x 1 cv cv  30M 11月  9 16:09 eval.tfrecords
-rwxrwxr-x 1 cv cv 120M 11月  9 16:09 train.tfrecords
-rwxrwxr-x 1 cv cv  30M 11月  9 16:09 validation.tfrecords
cv@cv-System-Product-Name:~/PocketFlow/data/cifar10$

[2018-11-13 05:11] terrydlca commented on #48
@jiaxiang-wu Thanks for the quick response. If chosen the run_local.sh, is there any other hyper-parameter changes needed to reproduce the 72% accuracy, for example initial learning rate?

Also, saw there are a typo in the https://pocketflow.github.io/tutorial/, "find 4,096 training files" should be "find 1,024 training files" based on this link: https://github.com/tensorflow/models/tree/master/re

[2018-11-13 07:02] jiaxiang-wu commented on #49
* For compressed models generated by `UniformQuantTFLearner`, all the operations that match TensorFlow's rule for `tf.contrib.quantize.experimental_create_training_graph` will be quantized. For MobileNet-v1 and MobileNet-v2, all operations will be quantized; for ResNet models, some operation may not be quantized (at least this is true for TensorFlow-1.10.0).
* For TF-Lite models generated by `tool

[2018-11-13 07:03] jiaxiang-wu commented on #48
The above command should be enough. No more hyper-parameter needed. Thanks for pointing out the typo.

[2018-11-13 07:07] jiaxiang-wu commented on #47
I'm not sure what exactly caused that error. Can you run other TensorFlow training programs (not PocketFlow) with your ImageNet *.tfrecord files?

[2018-11-13 07:18] wangxianrui commented on #49
em..I am just working on a project, and the other requires a fully_quantized model to run on their 'chips', but i do not know exactly.

[2018-11-13 07:24] LinkenMu opened #50 ""ValueError: unrecognized learner's name: tf-uniform“ . In tutorial, --learner specification is not accordant with code"
./scripts/run_local.sh nets/lenet_at_cifar10_run.py --learner tf-uniform
the command will get below:
  File "/home/cv/PocketFlow/learners/learner_utils.py", line 58, in create_learner
    raise ValueError('unrecognized learner\'s name: ' + FLAGS.learner)
ValueError: unrecognized learner's name: tf-uniform

https://pocketflow.github.io/tutorial/#tutorial
Learner name  "tf-uniform"  is differ form

[2018-11-13 07:52] LinkenMu commented on #46
it works right now!

[2018-11-13 07:58] jiaxiang-wu commented on #50
Sorry for the typo in the documentation. Please use "uniform-tf" to choose `UniformQuantTFLearner` for model compression.

[2018-11-13 07:59] jiaxiang-wu commented on #50
TODO: change the name of `UniformQuantTFLearner` from "tf-uniform" to "uniform-tf".

[2018-11-13 08:01] jiaxiang-wu commented on #49
In short, you need to know which inference engine they are using, and then try to obtain a fully-quantized model (maybe not from PocketFlow) that can be parsed by that inference engine.

[2018-11-13 08:02] jiaxiang-wu commented on #48
TODO: change the number of training files in the tutorial from 4096 to 1024.

[2018-11-13 08:02] #46 closed

[2018-11-13 11:30] as754770178 opened #51 "how to compress in my dataset"
When I compress model on my custom dataset, the function `def setup_lrn_rate(global_step, model_name, dataset_name)` raise the NotImplement error. I want to produce a function that return lr and batch numbers in normal dataset and normal module. How I set the value of `nb_epoches`, `decay_rates` ...? How to choose piecewise constant strategy or exponential decaying strategy?

[2018-11-13 11:50] jiaxiang-wu commented on #51
You can set these hyper-parameter similar to how you train a normal/uncompressed model on your own data set, without PocketFlow.

[2018-11-13 11:53] as754770178 commented on #51
Can you give me an example? Which parameters should I set?

[2018-11-13 11:53] sunzhe09 opened #52 "I can't run "Automatic Channel Pruning" on local mode ."
I am a outside user of tencent, so,I change the run_seven.sh to run_local.sh ,but when it save the progress model ,it said Nontype,I think there isn't any model has been generated.Does it only support seven mode?

[2018-11-13 11:56] jiaxiang-wu commented on #52
Hi, could you please post the full log file?

[2018-11-13 11:58] jiaxiang-wu commented on #51
Before PocketFlow, have you trained some models on this data set? What is your hyper-parameter setting, or, how do you adjust the learning rate during the training process at that time?

[2018-11-13 12:00] as754770178 commented on #51
I mean that can I set some hyper-parameter so that PocketFlow does not call `setup_lrn_rate` function?

[2018-11-13 12:01] sunzhe09 commented on #52
./scripts/run_seven.sh nets/resnet_at_cifar10_run.py \
    --learner channel \
    --batch_size_eval 64 \
    --cp_uniform_preserve_ratio 0.5 \
    --cp_prune_option uniform \
    --resnet_size 20

Python script: nets/resnet_at_cifar10_run.py
# of GPUs: 1
extra arguments: --learner channel --batch_size_eval 64 --cp_preserve_ratio 0.5 --cp_prune_option auto --resnet_size 20
['data_hdfs_host', 'None

[2018-11-13 12:07] jiaxiang-wu commented on #51
Almost all model compression components need this function to setup the **learning rate schedule** and **number of training iterations**. I suggest you do not skip this function. If you do want to skip this, you should modify the corresponding model compression component, and manually setup the learning rate schedule.

[2018-11-13 12:08] as754770178 commented on #51
OK，thanks

[2018-11-13 12:08] #51 closed

[2018-11-13 12:08] jiaxiang-wu commented on #52
Hi, are you running the program with `scripts/run_seven.sh` or `scripts/run_local.sh`?

[2018-11-13 12:35] sunzhe09 commented on #52
yes I have change scripts/run_seven.sh to scripts/run_local.sh  ,the first lines of the log were added by myself to say which command I have used

[2018-11-13 13:04] jiaxiang-wu commented on #52
Can you post the full content of your `scripts/run_local.sh`, and the complete command for starting the program with this script?

[2018-11-13 13:21] sunzhe09 commented on #52
the shell scripts is：
#!/bin/bash

# default arguments
nb_gpus=1

# parse arguments passed from the command line
py_script="$1"
shift
for i in "$@"
do
  case "$i" in
    -n=*|--nb_gpus=*)
    nb_gpus="${i#*=}"
    shift
    ;;
    *)
    # unknown option
    ;;
  esac
done
extra_args=`python utils/get_path_args.py local ${py_script} path.conf`
extra_args="$@ ${extra_args}"
echo "Python script: ${p

[2018-11-13 15:26] besherh opened #53 "Can not run training on local mode"
Hi there,
I have an issue runing the following command:

./scripts/run_local.sh nets/resnet_at_cifar10_run.py

error message:
AssertionError: <FLAGS.data_dir_local> must not be None

my template path file looks like this:
# data files
data_hdfs_host = None
data_dir_local_cifar10 = /home/besher/datasets/cifar-10-batches-bin
data_dir_hdfs_cifar10 = None
data_dir_seven_cifar10 = None
data_dir_docker_

[2018-11-13 16:05] besherh commented on #53
Traceback (most recent call last):
  File "utils/get_path_args.py", line 39, in <module>
    with open(conf_file, 'r') as i_file:
FileNotFoundError: [Errno 2] No such file or directory: 'path.conf'
Python script: nets/resnet_at_cifar10_run.py
# of GPUs: 1
extra arguments:
Traceback (most recent call last):
  File "utils/get_idle_gpus.py", line 30, in <module>
    subprocess.call(['nvidia-smi'], st

[2018-11-13 19:30] besherh commented on #53
I tried this: https://github.com/Tencent/PocketFlow/issues/37, It did not work.
here is my local dir:
data_dir_local_cifar10 = /home/besher/datasets/cifar10

[2018-11-13 19:36] terrydlca commented on #48
@jiaxiang-wu Thanks, here is the results after training more than 12 hours using local mode. The Top1 accuracy is very low, and the loss is still very high, also why the optimal weight quantization is shown as 4? Saw the published accuracy number for the MobileNetV2 is 8 bit (MobileNet-v2 | 71.84% | 90.60% | 72.26% (+0.42%) | 90.77% (+0.17%)), right?

INFO:tensorflow:loss: 10.742256164550781
INFO:

[2018-11-13 22:39] vuiseng9 commented on #52
hi @sunzhe09 @jiaxiang-wu,  I am running into the exact issue when I tried the **auto** mode on the Imagenet dataset on a local machine with one gpu card.

**Run command**
```./scripts/run_local.sh nets/resnet_at_ilsvrc12_run.py --learner channel --cp_prune_option auto --cp_preserve_ratio 0.5```

**Error Trace**
[code]
**Potential Root Cause**
From brief debug, the error originated here.
[code]
In

[2018-11-13 22:50] terrydlca commented on #48
@jiaxiang-wu I knew the root cause why  the weight quantization is 4 bits now, the typed cmd missed the "-tf" due to the "-" between uniform and tf. It's working properly now. Thanks.

[2018-11-13 23:50] jiaxiang-wu commented on #52
@psyyz10 Can you take a look at this issue?

[2018-11-13 23:53] jiaxiang-wu commented on #53
@besherh
Do you directly edit the `path.conf.template` file, or create a copy named `path.conf` and then edit it? You should use the latter.

[2018-11-13 23:55] jiaxiang-wu commented on #48
@terrydlca Good to know it works.

[2018-11-14 01:22] as754770178 opened #54 "calculate distillation loss"
The `calc_loss` function in `distillation_helper.py` that take primary model's logits(logits of the full-precision uncompressed network) as logits and distilled model's logits as labels, is it right? I think should take primary model's logits as labels and distilled model's logits as logits

[2018-11-14 01:30] jiaxiang-wu commented on #54
You may have misunderstood the meaning of "primary model" and "distilled model".
In the `calc_loss` function of `DistillationHelper` class, "primary model" refers to the student model (or compressed model) and "distilled models" refers to the teacher model (or full-precision model), since its outputs/activations/knowledge are/is distilled to generate extra supervision for the student network.

[2018-11-14 01:37] as754770178 commented on #54
OK, thanks

[2018-11-14 01:37] #54 closed

[2018-11-14 01:56] as754770178 opened #55 "distill model in full-prec mode"
In `full-prec` mode, `DistillationHelper` create leaner and `FullPrecLearner` use the same `model_helper`. I think the distilled model is the same model as `primary model`, so that it's not distilling. I suggest that provide another `model_helper` as the distilled model.

[2018-11-14 02:00] jiaxiang-wu commented on #55
They only share the same architecture, but not model weights due to different initialization. In practice, training a full-precision learner with distillation loss can indeed improve the performance. Below is a comparison on the classification accuracy of models trained with or without distillation loss, on CIFAR-10:

| Model | Distillation? | Accuracy | Improvement |
|:-:|:-:|:-:|:-:|
| ResNet-20

[2018-11-14 02:34] as754770178 commented on #55
OK, thanks

[2018-11-14 04:00] xieydd opened #56 "How to use the pretrained models?"
I use the shell
[code]
and the model.ckpt-250227.data-00000-of-00001 is from models_resnet50_at_ilsvrc_12.tar.gz from your office repository @jiaxiang-wu

[2018-11-14 04:11] Maximilianxu opened #57 "Question on the uniform quantization"
The code in function `__uniform_quantize()` in the file 'utils.py' in 'uniform_quantization' directory shows that the quantized weight or activation is also coded as the same type as the original tensor. For example, if the original tensor has a type `float32`, the quantized one will be `float32` too. Why does not the quantized tensor has a type `int` and the predict process is computed with only

[2018-11-14 06:46] jiaxiang-wu commented on #56
Just download and unzip the pre-trained model files into the "./models" directory. No need to specify the `--dcp_save_path` argument.
Also, to use the pre-trained ResNet-50 model, you need to specify `--resnet_size 50`.

[2018-11-14 06:49] jiaxiang-wu commented on #57
During training, weights in the quantized model are also stored as floating-point numbers. For integer-only computation, you need to export checkpoint files into TF-Lite models (*.tflite format), and use TensorFlow Lite Interpreter for inference.

[2018-11-14 06:59] Aspirinkb commented on #49
Will you give the details of how the quantized model weights are saved and how they run mathmatically? So one can implement the model on some specific devices for inference acceleration.

[2018-11-14 07:17] haikuoyao opened #58 "Does it support Mobilenet-v2-SSD ?"
It's an amzing work.

Does it support Mobilenet-v2-SSD?
I'm using it for object detection.
I saw PocketFlow doesn't support yolo, etc.

Thanks.

[2018-11-14 08:56] xieydd commented on #56
Why i start train , the accuracy is so low `6.2500e-02`

[2018-11-14 08:58] #56 closed

[2018-11-14 09:01] jiaxiang-wu commented on #58
PocketFlow does not support object detection models, for now. We are working on this right now.

Duplicated with #44

[2018-11-14 09:27] sunzhe09 opened #59 "I want to compress my own model such as Gan's or mtcnn ,how can I change the code?can you supply a demo or document about how can we change the file to work on my own model?"
I'm trying to compress a unet-like model ,but i don't know how to edit it

[2018-11-14 11:27] #53 closed, assigned to nobody

[2018-11-14 13:59] Ariel-JUAN commented on #58
Does it support DenseNet compression？

[2018-11-14 21:10] dhingratul commented on #47
Fixed with re-running, error not reproducible.

[2018-11-14 21:10] #47 closed

[2018-11-14 21:20] terrydlca commented on #48
@jiaxiang-wu Another question is there are errors when convert the trained mobilenet_v2 model to tflite format. Do you have an example cmd for mobilenet_v2 tflite conversion?

python tools/conversion/export_quant_tflite_model.py --model_dir ./models_uqtf

Traceback (most recent call last):
  File "tools/conversion/export_quant_tflite_model.py", line 271, in <module>
    tf.app.run()
 File "tools/c

[2018-11-14 23:55] jiaxiang-wu commented on #48
@terrydlca
You should specify the save path for the evaluation graph, instead of the training graph, of the compressed model, which can be exported to the TF-Lite model.

[code]

[2018-11-14 23:56] jiaxiang-wu commented on #58
@Ariel-JUAN
You mean DenseNet for image classification? This can be suppported by adding a new `ModelHelper` class, similar to those defined in the "./nets" directory.

[2018-11-14 23:59] jiaxiang-wu commented on #59
If your model can be trained in an end-to-end manner, you can try to implement a new `ModelHelper` class, defining the data input pipepline, forward computation, and loss function, similar to those defined in the "./nets" directory. We are adding a documentation page to demonstrate how to incorporate customized models and data sets into PocketFlow.

[2018-11-15 00:00] jiaxiang-wu commented on #59
Doc required: demonstrate how to incorporate customized models and data sets into PocketFlow.

[2018-11-15 00:03] jiaxiang-wu commented on #49
For `UniformQuantTFLearner`, we are using TensorFlow's quantization-aware training API, *i.e.*:
[code]
to modify the graph and insert quantization operations. You may refer to their documentations to see how it works in details.

[2018-11-15 00:08] dhingratul opened #60 "Model Pruning taking too much time to train"
**Describe the bug**
A clear and concise description of what the bug is.
Hi, I have been training the pruning script for last 3 days, as of now it has only generated a couple of checkpoints in model_dcp, but to generate the .tflite and .pb file, i need the model_dcp_eval , which i am assuming will be generated after the training has been "done". I want to just skip to the end, and evaluate the inf

[2018-11-15 00:32] jiaxiang-wu commented on #60
To export a TF-Lite model, you need checkpoint files of the evaluation graph (stored in "./models_dcp_eval"), instead of the training graph (stored in "./models_dcp"). If you want to use these checkpoint files of the training graph, you need to restore variables from them and save again as the evaluation graph (take a look at `DisChnPrunedLearner`'s implementation).

BTW, if you want to accelerate

[2018-11-15 00:53] Aspirinkb commented on #49
If I prefer to use `UniformQuantLearner` of PocketFlow's to quantize models rather than TensorFlow's, where can I get the details of the quantized models about their weights, graphs and so on? Do you give some inference implements about that？If not, I think it is a necessary feature of PocketFlow.  What do you think?

[2018-11-15 00:56] Ariel-JUAN commented on #58
@jiaxiang-wu  Thanks~

[2018-11-15 00:59] #58 closed

[2018-11-15 01:00] #45 closed

[2018-11-15 01:05] terrydlca commented on #48
@jiaxiang-wu Thanks, it works now.

[2018-11-15 01:28] #48 closed

[2018-11-15 01:44] wangxianrui commented on #49
the `UniformQuantLearner` in PocketFlow just reuse Tensorflow's API, I think.  If you don't want to use it, you can also try another, such as .. `UniformQuantizedLearner` and `NonUniformQuantizedLearner`, you can get detail in https://pocketflow.github.io/

[2018-11-15 01:51] 1448643857 commented on #45
thank u

[2018-11-15 02:04] wangxianrui commented on #49
I also have a question about `Uniform Quantization Learner`, is this method just quantize weight and activation?  So, the data flows int network is still float type， instead ofquantize bits such as 8 or 4 bits?
thanks!

[2018-11-15 02:26] wangxianrui opened #61 "questions about TensorFlow Quantization Wrapper"
em.. I want to export *.pb & *.tflite models from checkpoint files, so I run this command according the tutorial:
python tools/conversion/export_pb_tflite_models.py \
--model_dir ./models \
--input_coll inputs \
--output_coll outputs \
--quantize True
but I got an error `local variable 'file_path' referenced before assignment`
the files in ./models:
models
├── checkpoint
├── model.ckpt-97656.data-

[2018-11-15 03:11] jiaxiang-wu commented on #61
To export *.pb & *.tflite models, your should use checkpoint files for the evaluation graph, which is stored in the "./models_cp_eval" (or "./models_dcp_eval", depending which model compression component you ar e using) directory. Therefore, you need to change "--model_dir ./models" into corresponding directory.

[2018-11-15 03:47] sunzhe09 opened #62 "I can't convert model compressed by uniform-tf to pb or tflite？"
here is the log：
(tf19_py36) trainer@8ef6e870703b:/data/raid/PocketFlow$ python tools/conversion/export_pb_tflite_models.py  --model_dir models_uqtf_eval --input_coll images_final --output_coll logits_final --quantize True
models_uqtf_eval/model.ckpt.meta
input_coll images_final
2018-11-15 03:42:15.304864: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that thi

[2018-11-15 04:45] jiaxiang-wu commented on #62
Hi, which model are you using? ResNet or MobileNet-v1/v2?

[2018-11-15 05:37] Maximilianxu commented on #61
Hi, I have a similar issue.
`net_input = tf.get_collection(FLAGS.input_coll)[0]`
`IndexError: list index out of range`
I use the UniformQuantizationLearner to quantize the Lenet(cifar-10) and then tried to convert it to `.tflite` format using `export_pb_tflite_models.py` with the following command:
`python tools/conversion/export_pb_tflite_models.py --model_dir ./uql_quant_eval_models  --quantize

[2018-11-15 05:42] Maximilianxu commented on #61
The regex used in 'export_pb_tflite_models.py' (Line 40) cannot find the 'meta' file. I just modified it to `.meta$` and `file_path` can be found. Also, the 'models' dir have the checkpoints of the full precision model (I think you get it from the pretrained models from Tencent). To use the quantized one, you have to  use a directory where quantized model locates.

[2018-11-15 07:28] Maximilianxu opened #63 "Question about transforming the quantized model to '.tflite' format"
`net_input = tf.get_collection(FLAGS.input_coll)[0]
IndexError: list index out of range`

I used the UniformQuantizationLearner to quantize the Lenet(cifar-10) and then tried to convert it to `.tflite` format using export_pb_tflite_models.py with the following command:
`python tools/conversion/export_pb_tflite_models.py --model_dir ./uql_quant_eval_models --quantize True --input_coll inputs--outpu

[2018-11-15 08:52] xiaomr opened #64 "Can't use MultiGPU in on channel mode"
I prepared the horovod environment and tryed  to run on multi gpus.   whent I try
./scripts/run_local.sh nets/resnet_at_cifar10_run.py -n=4 -learner channel  according to the tutorials, the four gpus are occupied and training well.  But when I change to ./scripts/run_local.sh nets/resnet_at_cifar10_run.py -n=4 -learner dis-chn-pruned, only the first gpu is occupied and training, the others are emp

[2018-11-15 10:42] jiaxiang-wu commented on #52
Resolved in this pull request: https://github.com/Tencent/PocketFlow/pull/65

[2018-11-15 10:42] #52 closed

[2018-11-15 10:42] #57 closed

[2018-11-15 10:45] jiaxiang-wu commented on #64
Hi, do you have horovod installed in the local Python environment? Try this (not in the docker):
[code]

[2018-11-15 10:50] xiaomr commented on #64
@jiaxiang-wu horovod is installed OK  and the code is running in docker。when I using scripts/run_docker.sh , It only start docker and not run main.py,  so I have to use ./scripts/run_local.sh in the docker again

[2018-11-15 10:54] jiaxiang-wu commented on #64
When you enter the docker environment, you should start the program with:
[code]
instead of
[code]
, since all extra parameters have been parsed by `scripts/run_docker.sh` (and will be used by `main.sh`), and you do not need pass them again to `scripts/run_local.sh`. The latter is only used when you want to run the program without docker.

[2018-11-15 11:05] jiaxiang-wu commented on #63
1. `tools/conversion/export_pb_tflite_models.py` is for compressed models obtain via channel pruning based algorithms, *i.e.* `ChannelPrunedLearner` and `DisChnPrunedLearner`. For quantized models, use `tools/conversion/export_quant_tflite_model.py` instead.
2. To be able export a TF-Lite model, you need to use TensorFlow's quantization-aware training API, as supported in the `UniformQuantTFLearne

[2018-11-15 11:07] jiaxiang-wu commented on #61
@wangxianrui @Maximilianxu
1. `tools/conversion/export_pb_tflite_models.py` is for compressed models obtain via channel pruning based algorithms, *i.e.* `ChannelPrunedLearner` and `DisChnPrunedLearner`. For quantized models, use `tools/conversion/export_quant_tflite_model.py` instead.
2. To be able export a TF-Lite model, you need to use TensorFlow's quantization-aware training API, as supported i

[2018-11-15 11:10] xiaomr commented on #64
@jiaxiang-wu  I try your method and but it will hang after print gpu info as following:

th 10390 MB memory) -> physical GPU (device: 3, name: GeForce GTX 1080 Ti, pci bus id: 0000:09:00.0, compute capability: 6.1)
2018-11-15 11:08:00.371735: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1490] Adding visible gpu devices: 2
2018-11-15 11:08:00.371809: I tensorflow/core/common_runtime/gpu/gpu_d

[2018-11-15 11:20] jiaxiang-wu commented on #49
@Aspirinkb
`UniformQuantLearner` is mainly for research purpose (for instance, to see how well RL can determine the bit-width allocation strategy). An efficient inference implementation heavily relies on the hardware platform and requires lots on work. For efficient deployment, we recommend you to use `UniformQuantTFLearner`, which can be deployed under the TensorFlow Lite framework.

[2018-11-15 11:36] jiaxiang-wu commented on #63
1. The documentation issue will be fixed ASAP.
2. In `UniformQuantLearner`, we can control the bit-width of each layer, so that we can see how well RL can optimize the bit-width allocation strategy, while in `UniformQuantTFLearner`, all layers' bit-width must be the same. If the variable bit-width allocation strategy can achieve superior performance than the uniform strategy (all layers use the sa

[2018-11-15 11:37] jiaxiang-wu commented on #63
Doc needs revision: wrong model conversion command for quantized models.

[2018-11-15 11:40] jiaxiang-wu commented on #64
Hi @xiaomr \
Can you execute horovod's example code in the docker? [Link to horovod's example code](https://github.com/uber/horovod/tree/master/examples)

[2018-11-15 11:59] Maximilianxu commented on #63
@jiaxiang-wu
Thanks, I see. Tensorflow only has a fixed API to perform an uniform quantization strategy to convert the model. You mean even though `UniformQuantLearner` could get better results (more flexible strategy), we still cannot use it yet in the production environment with Tensorflow, right?

[2018-11-15 12:05] jiaxiang-wu commented on #63
Yes, TensorFlow Lite only supports 8-bit quantized models. Actually, `UniformQuantLearner` is more like a research-oriented component, since it is more flexible.

[2018-11-15 13:01] backyes opened #67 "batch_size related"
[code]

When I tuning distributed training performance, try to go deep insight to stat performance, batch_size is critical variable.

Code shows, full_precision learner use batch_size from command line, means total batch size is nb_gpus * batch_size for synchronized sgd. However in other learner, batch_size is multipled by nb_gpus, and used to set some hyper parameter carefully.

To clarify these

[2018-11-15 15:24] jiaxiang-wu commented on #48
Resolved in the pull request https://github.com/Tencent/PocketFlow/pull/66

[2018-11-15 15:25] #63 closed, assigned to jiaxiang-wu

[2018-11-15 15:25] #50 closed, assigned to jiaxiang-wu

[2018-11-15 17:46] dhingratul commented on #60
Is there a way to resume the training from where it stopped, and pass that argument this time ?

[2018-11-16 05:33] Maximilianxu commented on #61
@jiaxiang-wu
After using `UniformQuantTFLearner`, the eval graph is stored in 'models_uqtf' directory. Therefore, to quantize the model, I used the following command:
`python tools/conversion/export_quant_tflite_model.py \
--model_dir ./models_uqtf \
--input_coll inputs \
--output_coll outputs \
--enbl_post_quant True
` from the current docs.
Still,  it shows the following error:
`Traceback (most

[2018-11-16 06:11] jiaxiang-wu commented on #61
@Maximilianxu
Please make sure you are using the correct checkpoint files for exporting to TF-Lite:
* The training graph is stored in the directory specified by `uqtf_save_path`, which is "./models_uqtf" by default. The graph and variables will be saved periodically during the training and after the training is completed.
* The evaluation graph is stored in the directory specified by `uqtf_save_pa

[2018-11-16 06:13] jiaxiang-wu commented on #60
Sorry, current `DisChnPrunedLearner`'s implementation does not support this. You need to modify its implementation to be able to recover from a previous run.

[2018-11-16 06:15] jiaxiang-wu commented on #67
For all learners, the actual batch size, or number of training samples used for gradient computation and averaging, equals to `FLAGS.batch_size` times the number of GPUs. If you find any inconsistent implementation, please tell us so that we can fix it.

[2018-11-16 06:33] Maximilianxu commented on #61
- [ ]

- [ ]

It works! Thanks. (手动比心)

[2018-11-16 06:35] jiaxiang-wu commented on #61
You're welcome. We will fix the documentation issue ASAP.

[2018-11-16 08:23] wangxianrui opened #68 "Question on 'uniform_quantization_tf'"
In the source code of ` leaners/uniform_quantization_tf/learner.py`,  using  tensorflow's quantization-aware to creat training graph:
[code]
but I don not find the value of  'input_graph',  so I am so confused about how i can work,
... Maybe this is kind of stupid, I am not familiar with tensorflow  ==

[2018-11-16 08:31] jiaxiang-wu commented on #68
If the `input_graph` argument is not specified, its default value, which is "None", will take effect and the default graph will be used. The default graph is defined in the code block starting from here:
[https://github.com/Tencent/PocketFlow/blob/master/learners/uniform_quantization_tf/learner.py#L142](https://github.com/Tencent/PocketFlow/blob/master/learners/uniform_quantization_tf/learner.py#L

[2018-11-16 08:35] wangxianrui commented on #68
I just looked at  'quantize_graph.py',  so ... , sorry to bother you

[2018-11-16 08:48] #68 closed

[2018-11-16 09:53] umadevimcw opened #69 "How to use Pre trained model for Weight sparsifictaion?"
Hai,
      I have followed the installation and usage steps of Weight sparsification. I have a doubt How to use pre-trained tensor flow model in weight sparse algorithm. I understood that pre-trained model downloaded by the script is used in the "Optimal pruning protocol" module to find the optimal pruning ratio (Correct me if i am wrong). How to use that pre-trained model in main pruning module ?

[2018-11-16 10:20] jiaxiang-wu commented on #69
It is possible, but is not implemented in the weight sparsification algorithm, since we observe that training from scratch already gives relatively satisfying results. If you indeed want to use the pre-trained model, then you can create another model in the training graph, but with some other name scope, restore weights from pre-trained checkpoint files, and assign them to the model whose weights

[2018-11-16 11:19] jiaxiang-wu commented on #61
Resolved in the pull request #70

[2018-11-16 11:19] #61 closed

[2018-11-16 11:23] umadevimcw commented on #69
Thanks. I will look into the UniformQuantTFLearner implementation.

[2018-11-16 13:23] ginger0106 opened #71 "mpi usage about multi GPU"
Hi, when I use multi GPU, it will return a mpi usage, I installed mpi4py=3.0.0... Could anybody help me? Thanks
[code]

[2018-11-16 13:54] besherh opened #72 "Train ResNet-20 model for the CIFAR-10 on colab not working"
Hello,
I am using colab to train resnet on cifar10, after mounting google drive I cloned the repository and I was able to run the script. However, Tensorflow is loaded and the data files are passed to the network but I am ending with:

tensorflow.python.framework.errors_impl.NotFoundError: /content/drive/My; No such file or directory

Any suggestions?

Below you can find the code and the log file:

[2018-11-16 23:30] jiaxiang-wu commented on #34
@KranthiGV
Yes, please raise a pull request to the master branch.

[2018-11-17 03:22] ylfzr opened #73 "Numerical Problem Quantizing Model to 1 Bit"
**Describe the bug**
Numerical problem occurs when quantize  ResNet56 model on Cifar10 dataset.

**To Reproduce**
Steps to reproduce the behavior:
1. Quantize  a pretrained ResNet56 model to 1 bit.
2. Run the uniform/non-unifom learner, quantize and fintune, after a few iterations the accuracy drops to 0.1

**Expected behavior**
The accuracy goes up as fine-tuning proceeds.

**Desktop (please comp

[2018-11-17 04:30] ylfzr commented on #71
You can simply run:

mpirun -np 2 \
    -H localhost:2 \
    -bind-to none -map-by slot \
    -x NCCL_DEBUG=INFO -x LD_LIBRARY_PATH -x PATH \
    -mca pml ob1 -mca btl ^openib \
    python nets/resnet_at_ilsvrc12_run.py

If your 2 gpus are on the same sever.
Make sure that FLAG.enbl_multi_gpu is set to be True.

[2018-11-17 05:04] ylfzr opened #76 "Parameter Shape Error for non-uniform Quantization"
**Describe the bug**
When set FLAGS.nuql_opt_mode to be 'both', that is, learn both the weights and the cluster centers. An error occur if enable rl agents.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable rl agent, set FLAGS.nuql_opt_mode to be 'both'.
2. The first rl roll-out works normally.
3. The second rl roll-out starts, new compressing policy given, start to quantize model using

[2018-11-18 05:51] 1448643857 opened #78 "apply in 1D convolutions"
Hi,I want to use this  to train 1D convolution model,I  should modify where ,can you give me some suggestions?

[2018-11-19 00:54] #73 closed

[2018-11-19 00:55] jiaxiang-wu commented on #73
Thanks for your contribution. The PR has been merged.

[2018-11-19 00:59] jiaxiang-wu commented on #62
@sunzhe09 Any updates?

[2018-11-19 01:01] #69 closed

[2018-11-19 01:03] jiaxiang-wu commented on #72
@besherh Is it possible to remove the whitespace in "/content/gdrive/My Drive/apps/PocketFlow"? The path configuration file seems not able to parse file paths with whitespaces.

[2018-11-19 01:04] jiaxiang-wu commented on #78
Which model compression component are you planning to use?

[2018-11-19 01:30] 1448643857 commented on #78
Hi，I want to use learner channel,my job is using deep learning in Signal detection,and I want use PocketFlow to compress my model,but it's 1D ,but I don't know how to Implemente,so I questioned in here.

[2018-11-19 01:32] jiaxiang-wu commented on #78
`ChannelPrunedLearner` does not support 1D convolution. To use channel pruning algorithm, you need to modify the channel selection part (selection channels by solving a LASSO problem) to fit the 1D convolution case.

[2018-11-19 01:34] 1448643857 commented on #78
ok,thank you very much.

[2018-11-19 02:34] yyjabidintg opened #79 "About support for 3D convolutions?"
I was wondering if PocketFlow supports 3D convolutions.like the C3D model. can we use it to compress the C3D model(like 3D resnet)?
Thankes for your help.

[2018-11-19 02:49] jiaxiang-wu commented on #79
Similar with issue #78, although it is for 1D convolution.
For now, channel pruning based components, *e.g.* `ChannelPrunedLearner`, do not support 3D convolution. To use channel pruning algorithm, you need to modify the channel selection part (selection channels by solving a LASSO problem) to fit the 3D convolution case.

[2018-11-19 03:07] psyyz10 commented on #43
@as754770178 in `ChannelPrunedLearner`, `best_model_path` is the parameter that specify the save path of compressed model and `channel_pruned_path ` saved some intermediate results

[2018-11-19 03:26] ToBigboss opened #80 "Hi， Can you create a QQ communication group？"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with PocketFlow, or support for problems that are not verified bugs in PocketFlow, please go to [StackOverflow](https://stackoverflow.com).

For high-level discussions about TensorFlow, please post to [discuss group](https://groups.google.com/forum/#!forum/pocketflow).

[2018-11-19 05:03] #76 closed

[2018-11-19 05:06] jiaxiang-wu commented on #76
Resolved in the pull request #81

[2018-11-19 06:00] #80 closed

[2018-11-19 06:03] ToBigboss opened #82 "Can support caffe model or not？？"

[2018-11-19 08:11] jiaxiang-wu commented on #82
Sorry, PocketFlow uses TensorFlow as the underlying DL framework and does not support Caffe models, due to the difference between TensorFlow and Caffe (they have different layer definitions).

[2018-11-19 08:15] as754770178 commented on #43
I conclude the parameter about the path.
1. `ChannelPrunedLearner`
`best_model_path` is the parameter that specify the save path of compressed model and `channel_pruned_path` saved some intermediate results. Now, `best_model_path` changed to `cp_best_paht`; `channel_pruned_path` changed to `cp_channel_pruned_path`. But I doubt that what does `cp_original_path` mean, whether it conflict with `save_

[2018-11-19 12:49] jiaxiangxu commented on #44
Excuse me, what is the fundamental difference between object detection models and image classification models such that the current PocketFlow cannot support object detection models?

[2018-11-19 15:06] besherh commented on #72
I fix it by using:
 !ln -s "/content/gdrive/My Drive" "/content/mydrive", but I have another issue, please!

How to measure the performance of a pruning method? For instance, I want to compare the model size for Resnet on cifar10 before and after the training!

[2018-11-19 18:58] dhingratul opened #83 "Pruned model slower inference times"
**Describe the bug**
A clear and concise description of what the bug is.
Inference times for original model = 5ms
Inference times for pruned model = 6.9ms
*Inference times averaged over 100 inference runs, ignoring the first few inferences on a GTX 1080Ti
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

[2018-11-20 00:50] #34 closed

[2018-11-20 00:57] jiaxiang-wu commented on #83
When creating a transformed graph for the channel pruned model, we decompose each (k x k) convolutional layer into the combination of a 1x1 pointwise convolutional layer (to remove all-zero channels) and a (k x k) convolutional layer (for non-zero channels). The 1x1 pointwise convolutional is not efficient on GPU, so the inference time may be slower. However, according to our experimence, it is mo

[2018-11-20 01:00] jiaxiang-wu commented on #72
Use `tools/conversion/export_pb_tflite_models.py` to convert checkpoint files into *.pb & *.tflite models. Two models will be generated:
* model_original.pb/tflite for the model without rewriting the graph, so the model size equals to the model without pruning.
* model_transformed.pb/tflite for the model with rewriting the graph, so the model size equals to the model with pruning.

[2018-11-20 01:02] jiaxiang-wu commented on #44
Some object detection models, *e.g.* Faster R-CNN and R-FCN, require multiple training stages (RPN -> detection model -> RPN with shared conv. layers -> detection model with shared conv. layers). This is not yet supported in PocketFlow.

[2018-11-20 01:05] jiaxiang-wu commented on #29
Resolved in the pull request #75

[2018-11-20 01:05] #29 closed

[2018-11-20 02:18] psyyz10 commented on #43
@as754770178 `cp_original_path` is also a path to save temporal model, but the different temporal model from `cp_channel_pruned_path`. User may do some operations, for example changed model scope, and which can be saved to `cp_original_path`.

[2018-11-20 03:00] ginger0106 commented on #64
hi, I have the same problem, did you fix the problem? Thanks

[2018-11-20 03:36] jiaxiang-wu commented on #64
@ginger0106 Does this problem occur only when you execute the PocketFlow code, or also occur when executing horovod's example code?

[2018-11-20 04:06] ginger0106 commented on #64
@jiaxiang-wu  I tried keras_mnist.py in horovod's example code, it worked as followed:

[code]

[2018-11-20 04:14] ginger0106 commented on #64
For the pocketflow,  I  also use 3 GPUs,  pull docker image uber/horovod:0.15.1-tf1.11.0-torch0.4.1-py3.5, change the index-url and  trusted-host in main.sh
Then it shows that:
[code]

[2018-11-20 04:15] ginger0106 commented on #71
Thanks, I just noticed that the local mode could only use one GPU

[2018-11-20 04:16] #71 closed

[2018-11-20 07:05] GoldenSpark opened #85 "DisChnPrunedLearner with resnet18 on ImageNet can't converge in local mode"

[2018-11-20 07:17] ginger0106 commented on #64
hi @jiaxiang-wu, I tested `root@local-env:/opt/ml/env# mpirun -np 3 -H localhost:3 python keras_mnist.py` using 3GPUs, it could find 2 interfaces:
[code]

[2018-11-20 07:29] xiaomr commented on #64
@jiaxiang-wu hi, I follow your instructions and it works in --learner dis-chn-pruned  and --learner weight-sparse in multi four gpu training . However, when I using --learner channel, all the other set is the same, It only training on the one of the four gpus (the other three gpu is free when -n=4).  I am wondered is there something wrong in channelpruning learner?

[2018-11-20 09:35] xiaomr commented on #64
@ginger0106  You can try to change
 options="-np ${nb_gpus} -H localhost:${nb_gpus} -bind-to none -map-by slot
      -x NCCL_DEBUG=INFO -x NCCL_SOCKET_IFNAME=eth1 -x NCCL_IB_DISABLE=1
      -x LD_LIBRARY_PATH --mca btl_tcp_if_include eth1"
to
 options="-np ${nb_gpus} -H localhost:${nb_gpus}"  in main.sh  to fix the hang problem

[2018-11-20 10:54] umadevimcw commented on #69
Hai

NotFoundError (see above for traceback): Restoring from checkpoint failed. This is most likely due to a Variable name or other graph key that is missing from the checkpoint. Please ensure that you have not altered the graph expected based on the checkpoint. Original error:

Key model/mask/model/resnet_model/conv2d/kernel_mask not found in checkpoint
	 [[node save/RestoreV2 (defined at /home/m

[2018-11-20 20:49] besherh commented on #72
Thanks, now I have the files that you mentioned.
model_original.pb (1,129 KB)
model_transformed (659 KB)
But honestly, I did not get the idea of how to compare the two models in term of :
pruning ratio, accuracy and loss. Is there any graphical way to do this (plots ?)

Thanks for your support!

[2018-11-20 21:16] dhingratul commented on #60
@jiaxiang-wu Does `--nb_epochs_rat` parameter also work with other optimizations such as uniform quantization ?

[2018-11-21 00:31] dhingratul commented on #60
It should be added for all the optimizers. Also, how long does it take for Uniform Quantization to train on a single GPU(1080ti)

[2018-11-21 00:43] #49 closed

[2018-11-21 00:43] #67 closed

[2018-11-21 00:46] jiaxiang-wu commented on #15
@dhingratul We will, but it may take some time.

[2018-11-21 00:46] #78 closed

[2018-11-21 00:47] #79 closed

[2018-11-21 00:47] #82 closed

[2018-11-21 00:48] jiaxiang-wu commented on #44
@jiaxiangxu
We have not tested on SSD on YOLO yet, so we are not sure whether PocketFlow can be directly used for these two models.

[2018-11-21 00:50] jiaxiang-wu commented on #85
@GoldenSpark
Could you please post the full log, especially the part before "INFO:tensorflow : layer #...： prune_ratio = ..."?

[2018-11-21 00:55] jiaxiang-wu commented on #64
@xiaomr
You mentioned that `--learner dis-chn-pruned` and `--learner weight-sparse` works for multiple GPUs, but `--learner channel` does not. For `ChannelPrunedLearner`, does the program crash when multiple GPUs are used, or does it run normally, but only one GPU is used and others are idle?

[2018-11-21 00:57] jiaxiang-wu commented on #72
You should be able to see how many channels have been pruned in the model conversion script's log. Besides, *.pb files can be visualized in TensorBoard.

[2018-11-21 01:02] jiaxiang-wu commented on #60
Basically, their performance (in accuracy) is similar, since the underlying training algorithm is the same, despite some implementation details. The native version, `UniformQuantLearner`, provides more features, including variable number of quantization bits for each layer (so that RL can be used to optimize the strategy), than the TF version, `UniformQuantLearnerTFLearner`. However, the latter ca

[2018-11-21 01:57] GoldenSpark commented on #85
@jiaxiang-wu
goldenspark@node7743:~/pycharm_project/pocketflow$ ./scripts/run_local.sh nets/resnet_at_ilsvrc12_run.py --learner dis-chn-pruned
Python script: nets/resnet_at_ilsvrc12_run.py
\#of GPUs: 1
extra arguments: --learner dis-chn-pruned --model_http_url https://api.ai.tencent.com/pocketflow --data_dir_local /data/goldenspark/TFRecord/
'nets/resnet_at_ilsvrc12_run.py' -> 'main.py'
multi-GPU

[2018-11-21 02:33] SunAriesCN opened #86 "Cannot use multiGPUs"
**Describe the bug**
A clear and concise description of what the bug is.
when I tried the command:

[code]
I got the following errosr:

[code]

This is something that should be reported to the developers.

**Screenshots**

[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 16.04

[2018-11-21 02:38] xiaomr commented on #64
@jiaxiang-wu  it run normally but only one GPU is used and others are idle,  I check the code and doubt whether it is because the channel selection and pruning procedure only use one gpu,  muti gpus will only be used in the last training pruned mode procedure.   Another question is how can I do with channel selection conflict  for adding identity path and shortcut path in resnet,  since in your im

[2018-11-21 02:55] ginger0106 commented on #86
according to the docs,

[2018-11-21 02:58] ginger0106 commented on #59
hi, when the documents will be released?

[2018-11-21 03:06] SunAriesCN commented on #86
But I got

[code]
when I ran
[code]

[2018-11-21 03:21] leosk-knight opened #87 "FLOPs compute"

[2018-11-21 03:30] as754770178 opened #88 "How many epochs to take during a compression process"
How to calculate how many epochs to take during a compression process.
That is `nb_iters_train` * `how many combinations of hyper parameters` * `how many bucket divided in one model` ?
The parameter `nb_iters_train` is calculated by the function `setup_lrn_rate` in `lrn_rate_util.py`.

[2018-11-21 03:59] #43 closed

[2018-11-21 04:00] as754770178 opened #89 "How to use distill when compress"
If I want to compress the model by distilling, I must gave the pretrained model in `save_path_dst`?
The compressed model is new construct and changed, how to get the pretrained model of compressed model?

[2018-11-21 04:55] ginger0106 commented on #86
@SunAriesCN please check out#25

[2018-11-21 04:55] ginger0106 commented on #86
lease check out #25

[2018-11-21 04:57] ginger0106 commented on #86
please check out #25

[2018-11-21 05:32] jiaxiang-wu commented on #89
By default, the `DistillationHelper` class will download a pre-trained model via `wget`, and rewrite it into the directory specified by `FLAGS.save_path_dst` (with variables' name scope changed from "model" to "distilled_model"). If the pre-trained model is in-place, then you do not need to put anything into the directory specified by `FLAGS.save_path_dst`, since the above process is handled by `D

[2018-11-21 06:07] as754770178 commented on #88
Such as UniformQuantTFLearner and ChannelPrunedLearner.

[2018-11-21 08:22] as754770178 opened #91 "uniform error"
I compress my custom model `resnet` by UniformQuantLearner.
parameter:
--learner=uniform
--uql_weight_bits=8
--uql_activation_bits=8
--uql_use_buckets=True
--uql_bucket_type=channel

report error:
[code]

[2018-11-21 09:02] jiaxiang-wu commented on #91
By "custom model resnet", what model architecture are you using? Can you post the network definition? It seems that `UniformQuantLearner` cannot correctly parse your network architecture.

[2018-11-21 09:04] jiaxiang-wu commented on #85
@GoldenSpark Thanks for your information. We are investigating this issue and will push a fix ASAP.

[2018-11-21 09:16] jiaxiang-wu commented on #64
@xiaomr
1. In `ChannelPrunedLearner`'s implementation, the channel selection is based on solving a LASSO problem on CPU (not GPU), and only one GPU is used for sampling input & output feature maps to construct this LASSO problem. After the channel selection process (this may take some time), the remaining training process should be running with multi-GPU support. We have included a GPU-based chann

[2018-11-21 09:19] jiaxiang-wu commented on #91
@haolibai Could you please keep an eye on this issue?

[2018-11-21 12:22] xiaomr commented on #64
@jiaxiang-wu thank you very much for the detailed explaination!  It is really hard to editing graph during training so I have to edit graph after channel pruning  but before finetuning ,  so I can directly get the compressed model rather than the large but channel wise sparsity big model. As in your implementation, we can set some channels of some convolution and it's father convolution to zero af

[2018-11-21 13:56] haolibai commented on #91
By default, the shapes of kernels are [k, k, cin, cout]. So the shape after channel-wise bucketing will still be in that shape, which is contradictory to your definition. Maybe you can try to re-arrange the kernel shape to [k, k, cin, cout].

[2018-11-21 14:02] besherh commented on #72
Thanks, but what about the pruning ratio? How to figure this out?
I want to get something like this, (this table is on pocket flow docs)

Model | Pruning Ratio
-- | -- |
MobileNet-v1 | 50% |
MobileNet-v1 | 60% |
MobileNet-v1 | 70% |
Mobilenet-v1 | 80% |

Thanks!

[2018-11-21 14:08] ginger0106 commented on #88
I tested the demo ` ./scripts/run_docker.sh nets/resnet_at_ilsvrc12_run.py -n=4 \
    --learner dis-chn-pruned` , the idx_iter is 339800 after one day using 4 GPUs, I wonder when it would be completed

[2018-11-21 14:49] jiaxiang-wu commented on #72
To compute the overall pruning ratio, you need to calculate the number of parameters in each layer before and after pruning, and then sum them up. This can be inferred from model conversion script's log.

[2018-11-21 16:00] jiaxiang-wu commented on #72
No, this is the number of weight tensors. You need to compute the number of parameters in each tensor (based on each tensor's shape information) and sum them up to obtain the overall number of parameters in the model before and after pruning.

[2018-11-21 17:33] #60 closed

[2018-11-21 17:54] #15 closed

[2018-11-22 01:34] as754770178 commented on #91
The checkpoint file and net constrcut is my custom, why They become inconsistent？ This is resnet_v1_18 by UniformQuantLearner, but No problem exists when resnet_v1_50 by DisChnPrunedLearner.

[2018-11-22 02:33] jiaxiang-wu commented on #91
@as754770178 Could you please post the code for network definition?

[2018-11-22 02:34] ginger0106 commented on #59
to compress my own model, we need to implement a new `ModelHelper` and `setup_lrn_rate`, does it right? Anything else needed? Thanks

[2018-11-22 02:35] ginger0106 commented on #88
@jiaxiang-wu  Got it, Thanks.

[2018-11-22 04:00] as754770178 commented on #88
what the number `1281167 ` mean?

[2018-11-22 06:57] jzlwlhao opened #93 "Resnet & Dis-chn-pruned: Waiting for three hours.... No more INFO. Still Keep "Restoring parameters"."
Input Command: ./scripts/run_local.sh nets/resnet_at_ilsvrc12_run.py  --learner dis-chn-pruned
The last Info is Restoring parameters from ./models/model.ckpt-250227.
This is found in the newest code for today's update.

Screen information:
INFO:tensorflow:model files: model.ckpt-250227.index, model.ckpt-250227.meta, checkpoint, model.ckpt-250227.data-00000-of-00001
2018-11-22 11:43:25.612239: I te

[2018-11-22 08:55] jiaxiang-wu commented on #59
@ginger0106 @sunzhe09
We have added documentation to demonstrate how to incorporate self-defined data sets and models into PocketFlow. See [here](https://pocketflow.github.io/self_defined_models/) for details.

[2018-11-22 12:12] distrect9 opened #94 "eval code 瑟尔，"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2018-11-22 12:16] distrect9 commented on #94
when use model in models_dcp_eval, the predict res has only one or two kinds of index.it seems like that the model doesn't work.
but when use model models_dcp/model.ckpt-97656 ,the predic has all kinds of index.

[2018-11-22 12:19] distrect9 opened #95 "inference time of model_transformed.pb is larger than model_original.pb;although model_transformed.pb is samll than model_original.pb"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2018-11-22 12:21] distrect9 commented on #95
the pb file.

[2018-11-22 14:12] jiaxiang-wu commented on #95
Similar problem as the issue #83. It is likely that the way we used to transform the channel pruned graph is not efficient on GPU (but it is efficient on ARM chips).

Below is copied from #83:
When creating a transformed graph for the channel pruned model, we decompose each (k x k) convolutional layer into the combination of a 1x1 pointwise convolutional layer (to remove all-zero channels) and a (

[2018-11-22 14:13] jiaxiang-wu commented on #83
TODO: optimize the graph editting approach for channel pruning models.

[2018-11-22 14:13] jiaxiang-wu commented on #95
TODO: optimize the graph editting approach for channel pruning models.

[2018-11-22 14:14] jiaxiang-wu commented on #94
@distrect9
Please provide more details (execution command, log, etc.) so that we can reproduce your issue.

[2018-11-22 14:15] #59 closed

[2018-11-23 01:17] wangxianrui opened #96 "The model size get bigger?"
When I use resnet model run on cifar10 dataset with th full_precision learner, I found that, the origion resnet in utils/external  is about 1.1M, but the trained model using full_precision learner has become 2.2M,
it doubles. Then I use my custom model, the problems still exist.  So, Why does this happen?
And， I have also print all the variables in both checkpoints, found that every variable with

[2018-11-23 01:42] #89 closed

[2018-11-23 01:52] #96 closed

[2018-11-23 01:55] as754770178 commented on #88
Can I understand that `nb_epochs` mean the total epochs in entire compression process, so that the sum epoch numbers of every bucket and parameter combiantion.  It's not epoch numbers of one bucket for one parameter combinaition.

[2018-11-23 02:08] jiaxiang-wu commented on #88
@as754770178 What do you mean by "bucket"? Which model compression component are you using?

[2018-11-23 02:31] distrect9 commented on #94
cifiar-10 url https://www.cs.toronto.edu/~kriz/cifar-10-python.tar.gz

[2018-11-23 02:33] as754770178 commented on #88
bucket mean that `uql_use_buckets` in UniformQuantLearner.  With bucketing, weights are split into multiple pieces.  model compression component such as UniformQuantLearner.

[2018-11-23 07:26] iamhankai opened #97 "ImportError: No module named multi_gpu_wrapper"
running log:
[code]
It seems that the code wants to import module from `/home/test/hankai/PocketFlow-master/learners/weight_sparsification/` rather than the home path. How to fix it?

[2018-11-23 07:31] jiaxiang-wu commented on #97
@iamhankai Which one are you using, Python 2.x or Python 3.x?

[2018-11-23 07:35] iamhankai commented on #97
I have tried Python3.5 and Python2.7

[2018-11-23 07:50] jzlwlhao opened #98 "Not sure if this is issue: Took more than 20 hours for pruning, and still running."
Commend:./scripts/run_local.sh nets/resnet_at_ilsvrc12_run.py --learner channel

Looks like it is running normally, but spent more than 20 hours.

INFO:tensorflow:Feature map reconstruction time cost: 1.5722044709837064s
INFO:tensorflow:Prune model/resnet_model/conv2d_15/Conv2D c_in from 256 to 70
INFO:tensorflow:father conv model/resnet_model/conv2d_14/Conv2D
INFO:tensorflow:father conv input Ten

[2018-11-23 07:52] #97 closed

[2018-11-23 07:54] jiaxiang-wu commented on #98
@psyyz10 Could you please take a look and see whether this time consumption is normal?

[2018-11-23 07:55] jiaxiang-wu commented on #88
@haolibai Could you help to explain the number of epochs required in `UniformQuantLearner`?

[2018-11-23 07:56] jiaxiang-wu commented on #94
Message received. We are investigating this issue.

[2018-11-23 08:20] haolibai commented on #88
In `UniformQuantLearner`, the number of epochs for fine-tuning is calculated by the function `setup_bnds_decay_rates`. Following a similar pattern as the following, suppose the default number for training is 60 on Cifar-10, the batch size per GPU is 128, then the iteration will be:
60000 * 60 / (128*4) = 7031.

What do you mean by `nb_iters_train` * `how many combinations of hyper parameters` * `h

[2018-11-23 11:06] leosk-knight opened #99 "Can not download the pretrained models"
download the pretrained models failed from api.ai.tencent.com

[2018-11-24 02:19] jiaxiang-wu commented on #99
@leosk-knight
Which model cannot be downloaded? I tested all 10 models and found no problem.

[2018-11-24 06:56] ginger0106 opened #100 "Could we share compressed model there?"
I am trying to compress a lot models using pocketflow with different compressed ratios(0.4,0.6,0.8). But the GPU resources are limited and time is also limited, the process time  last too long. Could we share the compressed  models there? I will also share models there. Thanks.

[2018-11-24 07:06] leosk-knight commented on #99
It's ok now, thanks

[2018-11-24 07:26] leosk-knight opened #101 "def get_var_by_op(self, op)"
I saw that we get the var by judging whether the name contains “weight” or “bias”。
if ‘weight’ in wtensor.name or ‘bias’ in wtensor.name
But if my model is not so named, I can't get the corresponding tensor, so I want to ask if these algorithms can only target the models you have already written.

[2018-11-24 07:33] #99 closed

[2018-11-24 07:36] jiaxiang-wu commented on #101
In `ChannelPrunedLearner`, variables are recognized by their names and it is possible that your self-defined model cannot be correctly parsed. In other learners, *e.g.* `ChannelPrunedGpuLearner` and `DisChnPrunedLearner`, variables are recognized by their related TensorFlow operations, which should be more flexible.

[2018-11-24 07:38] jiaxiang-wu commented on #100
Yes, we think it is a good idea to share compressed model in the community. Do you have any suggestion on where can we share such models (or how should we upload compressed models)?

[2018-11-24 07:38] jiaxiang-wu commented on #93
Thanks for the feedback. We are investigating this issue and will push a fix ASAP.

[2018-11-24 07:55] leosk-knight commented on #101
Thank you for your reply. If I want to calculate flops by op and get the weight of op, is there any general method?

[2018-11-24 08:02] jiaxiang-wu commented on #101
1. Sorry, I do not know which method can be used to get FLOPs by op.
2. You can traverse `op.inputs`, which is a list of tensors, to get its weight tensor.

[2018-11-24 08:06] leosk-knight commented on #101
Ok, this project has helped me a lot, thanks

[2018-11-24 08:21] #101 closed, assigned to nobody

[2018-11-24 10:33] chjq201410695 opened #102 "Supporting keras"
Since the friendly usage of keras, could you plan to surpport keras model compressing?

[2018-11-24 13:58] SunAriesCN commented on #86
[code]
I get the above error.

[2018-11-24 14:50] HandsomeRocketboy opened #103 "Can PocketFlow be applied to ResNet-50 whose parameters have been modified and then be trained to do other works instead of classification?"
I want to use PocketFlow to speed up my own network which is modified from ResNet-50, for it can be applyed on my drone.But I don't know how can I do it.

By the way, the network is not used on ImageNet for classification.

[2018-11-24 15:10] SunAriesCN commented on #86
With the solutions in #25 , I have resolved the problem above. But I get other problems when I run the main.sh which I haved changed the 'index-url' and 'trusted-host'. The log is as following:
[code]

[2018-11-24 15:14] HandsomeRocketboy opened #104 "Where does pocketflow read-in inputed checkpoint file in the codes?"
I want to speed up my own Network which is modified from ResNet-50, but I can't find which line in codes read-in the inputed checkpoint file?

[2018-11-25 08:23] GoldenSpark opened #105 "What's the tag of horovod docker image do you recommend?"
### When I used horovod docker and trainning a network in the docker container, I met the error below:

### horovod docker tag: 0.14.1-tf1.10.0-torch0.4.0-py3.5
### GPU: Titan Xp
### GPU_NUM: 8

### The error would come out _stochasticly_ during the training process. The error info is like this:

[shell2644-service-0:18758] *** Process received signal ***
[shell2644-service-0:18758] Signal: Segmen

[2018-11-25 09:14] GoldenSpark commented on #105
I changed the main.sh to run it in docker container. And all the args is unchanged except the args of mpirun. Such as
### mpirun -np 8 -H localhost:8 python main.py --enbl_multi_gpu --log_dir /data/log ${EXTRA_ARGS}.

### Here is the shell file:

export PYTHONPATH=${PYTHONPATH}:`pwd`

# start TensorBoard
LOG_DIR=/data/pocketflow/log
mkdir -p ${LOG_DIR}

# nohup tensorboard \
#     --path_prefix=/s

[2018-11-25 09:16] xieydd commented on #105
Maybe you can use the run_local just ok in container, don`t need to change the shell script , just change the eth1 in your shell.

[2018-11-25 10:43] xieydd commented on #105
you can use `ip -a` to see now what you are using. @GoldenSpark

[2018-11-25 13:17] GoldenSpark commented on #105
I change the eth1 to eth0 in local_run.sh, and run the local_runl.sh in docker container with command : ./scripts/run_local.sh nets/resnet_at_ilsvrc2012_run.py -n=8
Then it started to train with 8 GPUs, but after some iterations, the process encountered with the same error as I mentioned above. Maybe there is something wrong with the docker image?

[2018-11-25 13:50] GoldenSpark commented on #86
@SunAriesCN  I have met the same Segmentation fault with you .
My docker image tag is 0.14.1-tf1.10.0-torch0.4.0-py3.5
And what's the tag of your docker image?

[2018-11-25 13:51] SunAriesCN commented on #86
@GoldenSpark

Hello, I think it maybe the same as yours

[2018-11-25 14:32] BUG1989 opened #106 "The formula of uniform quantization is wrong"
<em>Please make sure that this is a documentation issue.

**System information**
- PocketFlow version:master
- Doc Link:https://pocketflow.github.io/uq_learner/

**Describe the documentation issue**
I find the formula of uniform quantization is wrong.

**We welcome contributions by users. Will you be able to update submit a PR to fix the doc Issue?**
Yes. I will fix the doc.

[2018-11-26 00:59] jiaxiang-wu commented on #106
@BUG1989 Can you be more specific about which formula is wrong?

[2018-11-26 01:01] jiaxiang-wu commented on #105
@GoldenSpark Can you post the mpirun command and the output of "ip -a"? It seems to be MPI-related. BTW, why do you change the mpirun command in main.sh? Is the original mpirun command not working?

[2018-11-26 01:03] jiaxiang-wu commented on #102
We do not have a clue on how to support keras models, for now. Do you have any suggestion?

[2018-11-26 01:05] jiaxiang-wu commented on #104
@HandsomeRocketboy Is it duplicate with issue #103? Can you close one of these two issues?

[2018-11-26 01:10] jiaxiang-wu commented on #86
@GoldenSpark @SunAriesCN Can you list files under the data directory, specified by `--data_dir_local`?

[2018-11-26 02:18] buryang opened #107 "Some questions about Channel Pruning Auto"
Hi, I‘m trying to compress my Unet network which for regression. I just use 1-lambda*l2_loss for Acc, and till now trained 40 roll outs，the Acc reach only 0.22 but the Acc of original model is 0.96， is it
 normal? In addition, the hidden layer size in the AMC paper is 300, why is your code changed to 64?
Then sckit-learn training is slow, can you save the intermediate checkpoints of actor-critic m

[2018-11-26 02:29] jiaxiang-wu commented on #107
@psyyz10 Could you please take a look at this issue?

[2018-11-26 02:35] jiaxiang-wu commented on #8
In pull request #84, we provide a GPU-based implementation for channel pruning algorithms. Numpy code is now replaced by TensorFlow operations.

[2018-11-26 02:35] #8 closed

[2018-11-26 02:38] jiaxiang-wu commented on #103
@HandsomeRocketboy Is it duplicate with issue #104? If so, can you close one of these two issues?

[2018-11-26 03:18] jiaxiang-wu commented on #106
We think these two formulations of uniform quantization are basically equivalent. The only difference is that whether to divide the round function's output with $2^k - 1$. In our documentation, we divide the round function's output with $2^k - 1$, so that both $x$ and $\hat{x}$ lie in the same range [0, 1]. This leads to more simple gradient computation using STE (straight-through estimation).

No

[2018-11-26 04:09] shellhue commented on #52
this bug still exists! After pull request: #65 merged!

[2018-11-26 04:46] jiaxiang-wu commented on #52
@psyyz10 Can you keep an eye on this issue?

[2018-11-26 05:53] SunAriesCN commented on #86
@jiaxiang-wu

[code]

[code]

[code]

[2018-11-26 06:05] jiaxiang-wu commented on #86
In the path configuration file, you need to set "data_dir_local_cifar10" to:
[code]
instead of:
[code]

[2018-11-26 06:31] SunAriesCN commented on #86
@jiaxiang-wu  Segmentation fault too.......

[2018-11-26 06:34] shellhue commented on #52
Actually, remove code from pull request: #65, bug fixed!

[2018-11-26 06:35] psyyz10 commented on #107
@buryang

1. If you choose the auto mode, rl agent will start to learn from the 50 roll out. Hence before the 50 roll out, the agent will random choose split ratio. Or you can set `--cp_nb_rlouts_ming` to other value.
2. If you choose the auto model of channel pruning, please set `--ddpg_noise_std_init=0.5 `.
3. After 200 roll outs, the network will be retrained, so the Acc will be improved again.

[2018-11-26 06:35] jiaxiang-wu commented on #86
@SunAriesCN
Please post:
1. files under "/opt/ml/data" directory under the docker environment
2. execution command and full log for the segmentation fault program

[2018-11-26 06:36] distrect9 commented on #95
i think it‘s hard to change the graph without adding more computation，because you have to change the previous layer fromat，but the previous layer may have influence on diffent layer，so there seems not to hvae a simple way to change the network architecture;
by the way, the reason for gpu to run slow may be you just add addion computation....  and the zeros parmeter seems can't speed up the caucala

[2018-11-26 06:39] psyyz10 commented on #98
@jzlwlhao  It's normal. There will be 200 roll outs for an auto selection of channel pruning. The process of resnet on Imagenet is slow. If you choose the `auto` mode of channel pruning, please set `--ddpg_noise_std_init=0.5`.

[2018-11-26 06:42] psyyz10 commented on #87
@leosk-knight  It's the ordinary formula.

[2018-11-26 06:52] SunAriesCN commented on #86
@jiaxiang-wu

1. files under "/opt/ml/data" directory under the docker environment

[code]

2. execution command and full log for the segmentation fault program

[code]

[2018-11-26 07:00] jiaxiang-wu commented on #95
@distrect9
After channel pruning, we have two options in modifying the graph:
1. tf.gather + standard conv: use tf.gather to filter out all-zero channels, and then apply the standard convolutional operation. However, tf.gather is not fully supported by TensorFlow Lite, and cannot be used for TF-Lite based deployment.
2. 1x1 conv + standard conv: use 1x1 conv to obtain feature maps with non-zero ch

[2018-11-26 07:05] jiaxiang-wu commented on #86
@SunAriesCN
For CIFAR-10 dataset, please use no more than 5 GPUs for training (since there are only 5 training data files). In you run, there were 3 GPUs cannot get training data and then aborted.

[2018-11-26 07:07] GoldenSpark commented on #105
@jiaxiang-wu Thanks for your reply.

Since I am running a horovod container on a server in an **inner** network, I can't operate the server so I can't get the info of "ifconfig -a" and it's invalid to use "ifconfig" in the container.

The IP of the server is 10.3.72.80 as I know, which does not work after replacing the "eth1".

And the ### original options “eth1” does not work either in my horovod

[2018-11-26 07:46] #104 closed

[2018-11-26 07:48] HandsomeRocketboy commented on #103
Yes, of course, I have closen the latter just now. Sorry for forgotten to delete the other one.

[2018-11-26 07:49] jiaxiang-wu commented on #103
What is the task for ResNet-50 model? Regression? Classification? Object Detection?

[2018-11-26 07:54] distrect9 commented on #95
yes, for scheme 1, it looks like that we have to change the net code and the channel pruned code.....   will you do this?

[2018-11-26 07:58] jiaxiang-wu commented on #95
@distrect9 Looking forward to hearing good news from you.

[2018-11-26 10:34] jiaxiang-wu commented on #95
@distrect9 What is the data format? NHWC or NCHW?

[2018-11-26 11:08] #64 closed

[2018-11-26 11:15] distrect9 commented on #95
NHWC

[2018-11-26 11:16] distrect9 commented on #95
I just change that line

[2018-11-26 12:43] jiaxiang-wu commented on #64
@xiaomr
Before fine-tuning, you need to compute mask tensors for convolutional kernels to mark channels that should be pruned. During fine-tuning, gradient tensors should be multiplied with these mask tensors before they are applied to update convolutional kernels.

[2018-11-26 13:20] sunpangu opened #108 "Support pose estimate model?"
I have read an article that PocketFlow could accelerate pose estimate model 3 times speed. Can we use this function now?

[2018-11-26 14:35] besherh commented on #72
I was not able to figure how to do this, could you give a quick example if possible!

[2018-11-27 01:07] jiaxiang-wu commented on #108
What is your pose estimation model's architecture and training method? Self-defined models can be manually added, following this [tutorial](https://pocketflow.github.io/self_defined_models/).

[2018-11-27 01:40] buryang commented on #107
4.  AMC: AutoML for Model Compression and Acceleration on Mobile Devices.

[2018-11-27 02:04] sunpangu commented on #108
Just like Openpose and Alphapose. What's your model in this article[http://it.sohu.com/20181105/n554400817.shtml](url)?Would you share this pretrain model.

[2018-11-27 02:10] jiaxiang-wu commented on #108
@sunpangu
Sorry, we cannot release that pre-trained model, since it belongs to other projects. You can try to add your pose estimation model following the tutorial mentioned above.

[2018-11-27 03:19] GoldenSpark commented on #105
Uninstalling the old-version openmpi, installing NCCL2, compiling openmpi-3.0.3, and installing horovod-0.13.11 according to  [https://github.com/uber/horovod/blob/master/docs/gpus.md](url)  seems to work.

@jiaxiang-wu @xieydd
Thaks for your reply.

[2018-11-27 03:27] xiaomr opened #109 "Pruning hang problem in resnet50 imagenet experiment"
Hi, I try resnet50 imagenet experiment with channel pruning auto mode, however it seems to hang with the following last log,  could you please look at this problem?

INFO:tensorflow:Channel pruning the model/resnet_model/conv2d_52/Conv2D layer,       the pruning rate is 1
INFO:tensorflow:acc_top5: 0.15468749403953552
INFO:tensorflow:accuracy: 0.15468749403953552
INFO:tensorflow:loss: 6.12282085418

[2018-11-27 03:39] jiaxiang-wu commented on #109
@psyyz10 Could you please take a look at this? It seems to be related to `ChannelPrunedLearner`.

[2018-11-27 06:30] psyyz10 commented on #107
@buryang I know that paper, but what the hidden layer size means? Maybe we do not used that variable.

[2018-11-27 08:04] as754770178 opened #110 "The mode of fine tune"
When `uql_use_buckets` is True in UniformQuantLearner, PocketFlow how to fine tune the parameter in current bucket? Will it record the output before this bucket to avoid repeated calculation?

[2018-11-27 09:58] zheLim opened #111 "Document issue: Channel pruning(GPU) & self-defined model"
After having a glance on channel pruning gpu version, i found that gpu version may not strictly implement lasso regression. Neither Coordinate descent method nor LARS optimization algorithm are used.  It will be great if you can add some description about gpu version on algorithm or something else.

BTW, The document of self-defined model is not clear enough.
- Execution script name: We must name

[2018-11-27 10:02] zheLim commented on #111
BTW, CPU version of channel pruning only deals with regular 2D convolution. It cannot process dilation convolution. It would be better if an clarification is  add to documents.

[2018-11-27 12:15] sunzhe09 commented on #62
it's my fault,i have fixed it!

[2018-11-27 12:15] #62 closed

[2018-11-27 20:22] dhingratul opened #112 "Unable to generate .pb files for non-uniform quantization"
**Describe the bug**
A clear and concise description of what the bug is.
I run quantization script on resnet a defined in documentation with command line argument to limit training to 0.01 %. When i try to run the script to convert it to .pb file, i get the following error

``UnboundLocalError: local variable 'file_path' referenced before assignment``

**To Reproduce**
Steps to reproduce the behav

[2018-11-28 07:29] haolibai commented on #112
Hi. Currently `UniformQuantLearner` and `NonUniformQuantLearner` may not support the conversion to `.pb` and `.tflite` formats, as they are more research-oriented for now. We will improve their deployment on end devices in the following versions. To export the quantized model to `.pb` and `.tflite` formats, please use `UniformQuantTFLearner`. Thanks.

[2018-11-28 07:41] haolibai commented on #110
What do you mean by "record the output before this bucket to avoid repeated calculation"?

Generally the computational graph of quantization with bucketing is built as follows:
1) Cut the weights into multiple pieces (buckets);
2) Quantize each buckets according to some rules (uniform/nonuniform), and set up its parameters (e.g., min/max values);
3) Reshape the weights back to its original shape;

[2018-11-28 08:46] as754770178 commented on #110
Such as finetunning, if I only want to change the net constructure after the fourth layer, that is the output of fourth layer is not changed. Record the output of the fourth layer to avoid repeated calculation.

[2018-11-28 09:43] distrect9 commented on #95
maybe i just test on cifiar10, the pic size is too small, i'll try on imagenet.

[2018-11-28 17:50] dhingratul commented on #112
How do you benchmark the results then ?

[2018-11-29 00:02] jiaxiang-wu commented on #112
@dhingratul We only evaluate the inference speed-up for uniform quantization models, generated by `UniformQuantTFLearner`.

[2018-11-29 00:04] jiaxiang-wu commented on #95
@distrect9 How do you change the data format to NHWC? Can you post your model conversion code?

[2018-11-29 00:09] jiaxiang-wu commented on #111
@zheLim
Thanks for your suggestions.
1. The GPU version does not implement lasso regression. Actually, it is solving a L2,1-norm regularized optimization problem with proximal gradient descent. The regularization strength is gradually increasing to slowly lift the pruning ratio to the target value. We will provide an independent documentation to describe its algorithm in details.
2. We will clarif

[2018-11-29 00:12] jiaxiang-wu commented on #105
Bug: all the installing options of pip should add "--no-cache-dir".

[2018-11-29 00:12] #108 closed

[2018-11-29 00:15] jiaxiang-wu commented on #72
@besherh
You can obtain a full list of variables presented in the graph. After restoring the model, you should have access to each variable's shape and actual value.

[2018-11-29 00:18] jiaxiang-wu commented on #86
@SunAriesCN @GoldenSpark
Sorry for the late reply. What is the status on your side? Does the segmentation fault still exist?

[2018-11-29 00:19] #98 closed

[2018-11-29 00:19] #88 closed

[2018-11-29 02:39] distrect9 commented on #95
the source type is NHWC, i did't change the training format.
the tools code is in https://github.com/distrect9/for_pocket_flow

[2018-11-29 02:40] distrect9 commented on #95
i just change one line and delete the tf-lite format

[2018-11-29 02:45] jiaxiang-wu commented on #95
Sorry for the typo. You may need to convert the data format into NCHW during model conversion, since tf.gather() may be faster on NCHW than NHWC.

[2018-11-29 02:48] distrect9 commented on #95
ok，i will try it.

[2018-11-29 03:00] distrect9 commented on #95
i test tf.gather()  on different axis. it did consum less time when axis = 1 than when axis=3.  when axis is 1,for 1000 time calculate,it cost about 1.68s,and when axis is 3, it cost 0.99s.

[2018-11-29 03:00] distrect9 commented on #95
i'll test on model

[2018-11-29 03:02] distrect9 commented on #95
btw, you go to work so early......

[2018-11-29 03:06] jiaxiang-wu commented on #95
@distrect9 Sorry, could you please clarify your results on using tf.gather() on different axis? You said "it did consum less time when axis = 1 than when axis=3", but later you mentioned that with 1000 runs, for axis=1 the time is 1.68s and for axis=3 the time is 0.99s (shorter?).

[2018-11-29 03:12] as754770178 commented on #110
ok, thanks

[2018-11-29 03:12] #110 closed

[2018-11-29 03:13] distrect9 commented on #95
my fault,it should be:
i test tf.gather() on different axis. it did consum less time when axis = 1 than when axis=3. when axis is 1,for 1000 time calculate,it cost about 0.99s,and when axis is 3, it cost 1.68s.

[2018-11-29 03:18] jiaxiang-wu commented on #95
That's a good news. Thus, it is promising that using tf.gather and NCHW data format should improve the inference speed on GPUs than the current implementation (1x1 conv + NHWC).

[2018-11-29 03:21] zheLim commented on #111
Thanks for reply.
Does solving a L2,1-norm regularized optimization problem get better result than lasso regression?

[2018-11-29 03:49] distrect9 commented on #95
i can't find the args for discr_channel_pruning  to change the pruned channel index, do i need to change the code my self?

[2018-11-29 04:10] jiaxiang-wu commented on #95
What do you mean by "change the pruned channel index"?

[2018-11-29 04:13] distrect9 commented on #95
yes

[2018-11-29 04:14] distrect9 commented on #95
yes

[2018-11-29 04:14] distrect9 commented on #95
yes

[2018-11-29 05:12] jiaxiang-wu commented on #95
@distrect9 What do you mean by "change the pruned channel index"?

[2018-11-29 05:30] jiaxiang-wu commented on #95
No need to modify the DCP algorithm's code, You can change the data format using this script: `tools/conversion/convert_data_format.py`.

[2018-11-29 05:35] distrect9 commented on #95
use tools/conversion/convert_data_format.py  to process pruned pb file?

[2018-11-29 05:36] jiaxiang-wu commented on #95
No, this script is used to convert checkpoint files in NHWC to checkpoint files in NCHW, or vice versa.

[2018-11-29 05:37] distrect9 commented on #95
ok, i know

[2018-11-29 06:11] distrect9 commented on #95
sad news：the pruned pb is still slower than original pb.
but good news:

  | resnet  NHWC | resnet NCHW|
origin | 19.533841609954834 | 22.28275775909424
after pruned | 25.992661237716675 | 24.99310612678528

it did speed up for pruned compared with NHWC.

btw,tonight i'll get the results on ilsvrc12 ,and i think on ilsvrc12 ,the pruned pb will be faster than original pb.....

[2018-11-29 07:10] HandsomeRocketboy commented on #103
Monocular Depth Esitimation, and the training is unsupervised.

[2018-11-29 07:12] jiaxiang-wu commented on #103
The training is unsupervised? How do you train the model then?

[2018-11-29 07:30] HandsomeRocketboy commented on #103
Thanks for your help, I will follow this.

[2018-11-29 08:52] xiaomr commented on #109
My system info is GPU 1080 Ti,  my  command is    sh  scripts/run_docker.sh nets/resnet_at_ilsvrc12_run.py   --resnet_size 50  --learner channel -n=4,  I tried several times . is it normal when the reward -inf  appear?
INFO:tensorflow:best reward updated: -inf -> 0.1547

[2018-11-29 08:55] #103 closed

[2018-11-29 12:06] Joeywzr opened #113 "How can I use my own photo set to train and save it as a .pb file?"
I am a novice and I want to know how to use my own photo set to train and save it as a .pb file? Are there any examples I can use right away? Just like the retrain.py provided by tensorflow.

[2018-11-29 12:12] herbiezhao opened #114 "Can't use GPU in the local mode for channel pruning in auto mode"

[2018-11-29 13:34] SunAriesCN commented on #86
@jiaxiang-wu

my segmentation fault was disappeared, but `[local-env:00331] Read -1, expected 73728, errno = 1` still there, and there is no log about training.

[2018-11-29 14:58] jiaxiang-wu commented on #114
@herbiezhao Please provide more details (execution command, log files, etc...)

[2018-11-29 14:59] jiaxiang-wu commented on #113
Please refer to this documentation to see how to used self-defined data sets and models:
https://pocketflow.github.io/self_defined_models/

[2018-11-29 15:02] jiaxiang-wu commented on #86
@SunAriesCN Can you list files under `/opt/ml/data` directory in the docker environment?

[2018-11-30 01:02] #114 closed

[2018-11-30 01:03] herbiezhao commented on #114
gpu initialize failed!

[2018-11-30 01:03] jiaxiang-wu commented on #114
@herbiezhao Execution command and full log please. Otherwise, we cannot know what happened.

[2018-11-30 01:15] leosk-knight commented on #87
The same is true for MatMul？

[2018-11-30 01:37] GoldenSpark commented on #105
@jiaxiang-wu  Unfortunatelly, **horovod-0.13.11 would run again into the segmentation fault** . But I have got a helpful reply from the [https://github.com/uber/horovod/issues/647](url) . I will give it a try.

[2018-11-30 04:13] SunAriesCN commented on #86
[code]

Here is all log, so is there any mistakes I took ?

[2018-11-30 06:40] jiaxiang-wu commented on #86
@SunAriesCN
A similar problem is reported in issue #64:
https://github.com/Tencent/PocketFlow/issues/64#issuecomment-440205843
Can you try the solution provided in the above comment, and see if it works?

[2018-11-30 09:08] brisker opened #115 "Did you have the performance summary of the RL-based quantization performance on MobileNet?"
Did you have the performance summary of the RL based quantization performance on MobileNet? Given that you have described about this here :  https://pocketflow.github.io/reinforcement_learning/

[2018-11-30 13:09] haolibai commented on #115
Yes. We have some preliminary results on MobileNet, with `uql_evquivalent_bits=4` or `nuql_evquivalent_bits=4`. ( 8 bit quantization does not hurt the performance, while 2 bit degrade the performance significantly).

For `uql_evquivalent_bits=4`, the top-1 acc is 47.1%~53.0%.
For `nuql_evquivalent_bits=4`, the top-1 acc is 64.5%~65.9%.

The accuracy on validation set is measured at a fixed interva

[2018-11-30 23:57] dhingratul opened #116 "Weight Sparsification stuck"
**Describe the bug**
A clear and concise description of what the bug is.
When i resume weight sparsification for Resnet model, it gets stuck at the following:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If app

[2018-12-01 00:04] #112 closed

[2018-12-01 04:14] jiaxiang-wu commented on #116
Hi, could you please post the execution command and more complete log (including the FLAGS's values part)?

[2018-12-01 11:47] leosk-knight opened #117 "WeightSparseLearner problem"
Hi，When I use the weightsparse(optimal) compression model, I find that many times after the FT, the acc and reward are reduced, and the final convergence ratio of each layer is not reasonable. The training parameters I use: ./scripts/run_local.py nets/resnet_at_ilsvrc12_run.py —learner weight-sparse —resnet_size 18 —ws_prune_ratio_prtl optimal —ws_prune_ratio 0.6

[2018-12-02 13:48] brisker commented on #115
@haolibai
Why is the non-uniform quantization performance much better than uniform quantization? In standard quantization methods, it seems to be not like this.

[2018-12-02 14:08] haolibai commented on #115
Generally non-uniform quantization could have larger model capacity and thereon can outperform uniform quantization, especially in low-bit settings.

[2018-12-03 07:30] brisker commented on #115
How to reproduce the RL-based quantization performance?
which scripts?
@haolibai

[2018-12-03 07:33] jiaxiang-wu commented on #117
@leosk-knight
Hi, can you post the log for accuracy and reward before and after fine-tuning?

[2018-12-03 07:43] leosk-knight commented on #117
It is not very convenient, because it is training in the company's internal network. The main problem is that the fine-tuned reward is smaller than the previous reward. I also tested on cifar10, the same conditions have been tested many times, the convergence results are somewhat different, but the results are better than imagenet

[2018-12-03 07:47] jiaxiang-wu commented on #117
Are you concerning that the log may contain some sensitive information about your company? There should not be any. If so, can you try to remove such information and post the remaining log? It is hard to tell what went wrong only based on your description.

[2018-12-03 07:49] #113 closed

[2018-12-03 08:11] haolibai commented on #115
The model is evaluated every 10000 steps, so there could be some variance on the accuracy. We found that for mobilenet, the variance is a little bit large (e.g., 47.1%~53.0%).
Remain the default parameters for the RL agent, i.e., run
./scripts/run_seven.sh nets/mobilenet_at_ilsvrc12_run.py \
    --learner uniform \
    --uql_enbl_rl_agent

[2018-12-03 11:23] brisker commented on #115
@haolibai
1. the performance of MobileNet, is it Mobilenet v1 or v2?
2. What is the 32-bit precision performance of the v1 and v2 mobilenet model, downloaded from https://api.ai.tencent.com/pocketflow  ??

[2018-12-03 11:35] haolibai commented on #115
1. Mobilenet v1
2. The full precision results are in https://pocketflow.github.io/pre_trained_models/
Downloaded from: https://api.ai.tencent.com/pocketflow/models_mobilenet_v1_at_ilsvrc_12.tar.gz

[2018-12-03 12:15] brisker commented on #115
@haolibai
I have run this command:(with default settings)
`bash ./scripts/run_local.sh nets/mobilenet_at_ilsvrc12_run.py -n=4 --learner=uniform --uql_enbl_rl_agent=True --uql_equivalent_bits=4`, and in the first several iterations, the acc is so low(see the pic below). Is this normal?
![snipaste_2018-12-03_19-52-50](https://user-images.githubusercontent.com/13804492/49373190-1063b800-f738-11e8-90e

[2018-12-03 12:31] as754770178 opened #118 "ChannelPrunedLearner error: list index out of range"
error info:
[code]
Because my custom model don't have the collection `logits`. I read the code in `channel_pruning/learner.py`, when mode is train, the `__build` funciton will add `logits` to colleciton. But when mode is eval, the `__build_pruned_evaluate_model` will restore the model from `save_path`, so the add `logits` to collection operation dose not take effect.

[2018-12-03 13:13] brisker commented on #115
@jiaxiang-wu

[2018-12-03 13:34] brisker commented on #115
@haolibai
But I just follow the default settings. ...
Did you mean the default settings have bugs?....

[2018-12-03 13:42] haolibai commented on #115
The first 25% epochs are just for collecting training data for the buffer of DDPG, while the RL agent has not started training. The searching space is a little bit large, and MobileNet-v1 is indeed sensitive to low-bit quantization, so in most cases if the strategy is not good enough, the result will be pretty poor.

If I remember correctly, I generate the above results using the default settings.

[2018-12-03 13:47] brisker commented on #115
@haolibai
Besides, I have used 4 gpus, but when running `nvidia-smi`, the actual gpu-util of the last 3 gpus is actually 0%. So does the RL-based quantization support multi-gpu training?

[2018-12-03 22:55] dhingratul commented on #116
Fixed after restart

[2018-12-03 22:55] #116 closed

[2018-12-04 01:54] haolibai commented on #115
The training of RL agent will use only one GPU, while for training the network parameters will use 4 GPUs.
Please check if you successfully use 4 GPUs when using other learners?

[2018-12-04 03:29] as754770178 commented on #118
What is the purpose of the `__build` funciton add `logits` to colleciton ?

[2018-12-04 03:31] jiaxiang-wu commented on #118
It is used to locate input and output tensors when exporting a compressed model to *.pb and *.tflite models.

[2018-12-04 06:14] jiaxiang-wu commented on #95
@distrect9 We have released some new results on ILSVRC-12 (tf.gather + conv, NCHW) in this pull request. Basically, this is helpful on ResNet-like models. MobileNet does not suppport NCHW, so we did not test on it.

[2018-12-04 06:15] jiaxiang-wu commented on #83
@dhingratul
We have some new results based on an optimized graph editing approach (tf.gather + standard conv, in the NCHW data format) for GPU-based inference. Actual speed-up is observed for ResNet models.

[2018-12-04 07:30] distrect9 commented on #95
ok，thanks

[2018-12-04 07:58] brisker commented on #115
@haolibai
Currently I am only using the RL-based UniformQuantization learner. The mobilenet-v1 RL-based model has run over 120 roll-out, and the acc is still nearly 0. I just follow the default settings with the following command:
`bash ./scripts/run_local.sh nets/mobilenet_at_ilsvrc12_run.py -n=4 --learner=uniform --uql_enbl_rl_agent=True --uql_equivalent_bits=4`
I am wondering if the version of

[2018-12-04 08:34] haolibai commented on #115
Did you set `enbl_warm_start=True`? Since the quantized network is based on a pretrained model.
Sorry this should be added in the tutorial.

[2018-12-04 08:40] brisker commented on #115
previously no. But just a moment ago, as you have mentioned, I added this flag into the command, and run it, but still, in the first several iterations, the acc is still nearly 0. It seems to be no difference. So is there any other possible mistakes?
@haolibai

[2018-12-04 08:42] herbiezhao opened #120 "Dose pocketflow support slim model for channel pruning"
This template is for miscellaneous issues not covered by the other issue categories.

For questions on how to work with PocketFlow, or support for problems that are not verified bugs in PocketFlow, please go to [StackOverflow](https://stackoverflow.com).

For high-level discussions about TensorFlow, please post to [discuss group](https://groups.google.com/forum/#!forum/pocketflow).

[2018-12-04 08:47] haolibai commented on #115
I tried a moment ago, using the following configurations, and there are effective accs.

./scripts/run_seven.sh nets/resnet_at_ilsvrc12_run.py -n=8 \
--learner uniform \
--enbl_warm_start \
--uql_enbl_rl_agent \
--uql_equivalent_bits 4 \
--uql_w_bit_min 2 \
--uql_w_bit_max 8

![image](https://user-images.githubusercontent.com/24502378/49429610-dd76fe00-f7e3-11e8-90c2-fa68e3bcf195.png)
(seven is ju

[2018-12-04 08:48] brisker commented on #115
@haolibai
but what I refer to is mobilenet_v1, and the command I run is
`bash ./scripts/run_local.sh nets/mobilenet_at_ilsvrc12_run.py -n=4 --learner=uniform --uql_enbl_rl_agent=True --uql_equivalent_bits=4`

[2018-12-04 08:50] jiaxiang-wu commented on #115
@brisker The key is that you need to enable warm-start by specifying `--enbl_warm_start`.

[2018-12-04 08:51] haolibai commented on #115
The following are just the default settings, you can ignore them:
--uql_w_bit_min 2
--uql_w_bit_max 8

[2018-12-04 08:53] brisker commented on #115
@haolibai
@jiaxiang-wu
already changing the command to
`bash ./scripts/run_local.sh nets/mobilenet_at_ilsvrc12_run.py -n=4 --learner=uniform --uql_enbl_rl_agent=True --uql_equivalent_bits=4 --enbl_warm_start=True`
still nearly 0 acc.

[2018-12-04 09:10] brisker commented on #115
@haolibai
changing the model to resnet18 , still nearly 0 acc.

[2018-12-04 09:19] brisker commented on #115
@haolibai
now it is normal. thanks. Sorry for bothering.

[2018-12-04 10:32] zheLim opened #121 "RL based Channel pruning GPU version"
Greetings!
Just wondering if you are going to implement reinforcement learning on channel pruning on gpu version.

[2018-12-04 10:59] jiaxiang-wu commented on #120
Yes, PocketFlow supports TF-slim models. Actually, MobileNet models in PocketFlow are implemented via TF-slim (see code in `utils/external`).

[2018-12-04 11:58] brisker commented on #115
@haolibai
The problem seems not to be totally solved. I noticed that in the training process, the layer_bits are often allocated a lot of 2-bits , even I have assigned uql_equivalent_bits=4. (But in your log I can see many bits above 2) And I assum this is the reason why the acc is always 0. Here is my log. Could you please check anything wrong about the layer_bits allocation during training?

[re

[2018-12-04 22:50] dhingratul opened #122 "UniformTFQuantization inference speedup not reproducible on ARM v8"
**Describe the bug**
A clear and concise description of what the bug is.
1. Train compressed model with UniformTFQuantization for 0.01 epochs
2. Do a forward pass on the transformed model and the original model using .pb
3. The original model runs at 20ms on a ARMv8, whereas the transformed model runs at 28ms
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Sc

[2018-12-04 23:09] dhingratul opened #123 "Wrong baseline models to measure speedup against"
**Describe the bug**
A clear and concise description of what the bug is.
I ran two distinct experiments, one on uniform quantization, and one on channel pruning with the same resnet model, however, the outputs from both this optimization produced different ``model_original`` against which speedup is measured. The one from uniform quantization runs @ 25ms, and one from channel pruning @ 20ms. How a

[2018-12-05 00:40] jiaxiangxu opened #124 "Does PocketFlow support training/pruning on local with more than one GPU?"

[2018-12-05 00:43] jiaxiang-wu commented on #122
@dhingratul
1. Please provide the execution command for training with `UniformTFQuantLearner`.
2. Why are you using *.pb models for inference on ARMv8? You should use *.tflite models instead, which uses the TensorFlow Lite inference library with optimized performance on mobile devices.
3. When measuring the time consumption, it is often more accurate to run multiple times and compute the average e

[2018-12-05 00:56] dhingratul commented on #122
1. /scripts/run_local.sh nets/resnet_at_ilsvrc12_run.py --learner uniform-tf  --nb_epochs_rat 0.01
2. I need to benchmark both .pb and .tflite
3. The output is averaged over 1000 runs, ignoring first 5 inferences

[2018-12-05 00:57] jiaxiang-wu commented on #122
Do you have results for *.tflite models on ARMv8?

[2018-12-05 00:58] dhingratul commented on #122
No, not yet, i haven't used .tflite before, hence trying to figure out how to run that instead of a .pb

[2018-12-05 01:03] jiaxiang-wu commented on #124
Yes, if you have installed horovod in the local environment, instead of running it in a docker image.

[2018-12-05 01:06] jiaxiang-wu commented on #122
Based on my understanding (please correct me if anything wrong), *.pb models only simulate quantized operations and only *.tflite models use actual fixed-point operations for inference. Therefore, for quantized models, the speed-up is only observed on *.tflite models. This is different from channel pruned models, where both *.pb and *.models use the same floating-point operations with reduced numb

[2018-12-05 01:07] herbiezhao commented on #120
When I compress our own model according to the method of Self-defined Models, restoring from checkpoint failed. But I can restore the model correctly in our environment.
Command:
./scripts/run_local.sh nets/resnet_at_terr_run.py --learner channel --cp_uniform_preserve_ratio 0.5
Error:
NotFoundError (see above for traceback): Restoring from checkpoint failed. This is most likely due to a Variable n

[2018-12-05 01:10] jiaxiang-wu commented on #120
By default, PocketFlow downloads pre-trained models from [here](https://api.ai.tencent.com/pocketflow/list.html). Since your pre-trained models is not there, you may need to modify the code for restoring the pre-trained model.

[2018-12-05 01:13] jiaxiang-wu commented on #121
Possibly yes, but this may take some time. We welcome you to contribute such implementation, if interested.

[2018-12-05 01:17] herbiezhao commented on #120
How to modify the code for restoring the pre-trained model, is there any guidance?

[2018-12-05 01:20] jiaxiang-wu commented on #120
Please take a look at the `download_model()` function in `AbstractLearner`.

[2018-12-05 01:35] herbiezhao commented on #120
There is not any problem in function "download_model()". Our model is in "models" directory.
so if tf.train.latest_checkpoint(os.path.dirname(FLAGS.save_path)) is not None, just return. and in learners/channel_pruning/learner.py, the correct checkpoint is parsed "Restoring parameters from ./models/model.ckpt-70000".

[2018-12-05 01:43] jiaxiang-wu commented on #120
How are these pre-trained models generated? Using `FullPrecLearner` or something else?

[2018-12-05 01:46] jiaxiangxu commented on #124
Excuse me, does it mean that I can install horovod in the existing docker environment and then I can use run_local.sh to train/prune with more than one GPUs on one desktop?

[2018-12-05 01:47] herbiezhao commented on #120
We fine-tune the model resnet_v1_50 in slim using our dataset  in our tensorflow environment.

[2018-12-05 01:48] jiaxiang-wu commented on #124
If you are using horovod from docker, then you should start the docker environment with `scripts/run_docker.sh` and then use `main.sh` to start PocketFlow's training code.

[2018-12-05 01:52] jiaxiang-wu commented on #120
Are you sure that the model defined in your self-implemented `ModelHelper` class have the same variable names as those in your pre-trained models?

[2018-12-05 02:04] zheLim commented on #121
Got it

[2018-12-05 02:04] #121 closed

[2018-12-05 02:46] herbiezhao commented on #120
I can not restore the checkpoint, because model/resnet_v1_50/block1/unit_1/bottleneck_v1/conv1/BatchNorm/beta not found in checkpoint.
But I can restore the checkpoint in our tensorflow environment.

INFO:tensorflow:Restoring parameters from ./models/model.ckpt-70000
2018-12-05 09:27:29.402581: W tensorflow/core/framework/op_kernel.cc:1275] OP_REQUIRES failed at save_restore_v2_ops.cc:184 : Not fo

[2018-12-05 03:08] jiaxiang-wu commented on #115
@brisker Potential bug. We are looking at this issue.

[2018-12-05 03:12] brisker commented on #115
besides, If I run the resnet_cifar experiments, the acc_top1 is normal, but the acc_top5 is all 0.
I assume this is a minor bug.
@haolibai
@jiaxiang-wu

[2018-12-05 03:16] jiaxiang-wu commented on #115
@brisker We noticed that the accuracy recovers quickly after the RL-based hyper-parameter optimization stage finishes and the final re-training process starts. Maybe something went wrong in the fast fine-tuning code for RL-based hyper-parameter optimization. Anyway, thanks for your feedback.

[2018-12-05 03:20] brisker commented on #115
@jiaxiang-wu
but if I run the resnet_cifar experiment, although the printed acc_top5 is all 0, but the acc_top1 is very high, around 85%~100%.

[2018-12-05 03:31] jiaxiang-wu commented on #115
@brisker
I think it should the latter, that CIFAR-10 is too easy so that some bug does not lead to dramatically reduction in the top-1 accuracy.

[2018-12-05 03:37] brisker commented on #115
@jiaxiang-wu
I have not carefully read the code. But if there exists too many 0-acc in the RL process, the RL seems to lose its meaning. Previously @haolibai  told me that he can get about 50% acc for mobilenet-imagenet, I am curious about that, if there still exists many 0-acc in his log.

[2018-12-05 03:39] jiaxiang-wu commented on #115
@brisker
Maybe some recent code modification introduces bugs. If there are too many 0-acc in the RL process, the RL agent is likely to fail in finding the optimal hyper-parameter combination.

[2018-12-05 03:42] brisker commented on #115
@jiaxiang-wu  So can you tell me which version of Pocketflow can you reproduce the RL-based quantization performance, as @haolibai  claimed?

[2018-12-05 03:54] haolibai commented on #115
It is an earlier version before the release. Let us reproduce the result and inform you later.

[2018-12-05 06:32] brisker commented on #115
@haolibai
what is the difference between `bucket_type==split and bucket_type==channel`?
what is the type in the experiments you have reproduced(the mobilenet 47.1%~53.0%. performance )?

[2018-12-05 06:54] haolibai commented on #115
Without bucketing.

[2018-12-05 06:57] jiaxiang-wu commented on #123
@dhingratul
We need some details to reproduce your issue. Which dataset are you using, CIFAR-10 or ImageNet? What is the depth of your ResNet model? Are you using *.pb models to measure the time consumption? On CPU or GPU?

[2018-12-05 07:05] jiaxiang-wu commented on #120
@herbiezhao Can you print all tensor's name in 1) pre-trained checkpoint files and 2) `ChannelPrunedLearner`'s built graph to verify whether they match or not?

[2018-12-05 07:16] jiaxiang-wu commented on #109
@xiaomr
1. It is normal that reward "-inf" appear. It is initialized as "-inf" and then immediately updated in the first roll-out, as you posted.
2. Does the training hanging problem consistently exist? Have you tried to re-run it?

[2018-12-05 07:19] jiaxiang-wu commented on #105
@GoldenSpark Any updates based on the reply got from https://github.com/uber/horovod/issues/647?

[2018-12-05 07:42] GoldenSpark commented on #105
@jiaxiang-wu
The segmentation fault was fixed and the version of horovod had been updated to 0.15.2

[2018-12-05 07:45] jiaxiang-wu commented on #105
@GoldenSpark
So, in conclusion, we need to update version of horovod to 0.15.2 to fix the segmentation fault issue, am I right? Anything else?

[2018-12-05 08:01] GoldenSpark commented on #105
@jiaxiang-wu
Actually, I have not sufficientlly tested the horovod-0.15.2 until now. It just seems to work well.

[2018-12-05 08:02] jiaxiang-wu commented on #105
@GoldenSpark Okay, thanks for your help.

[2018-12-05 08:49] herbiezhao commented on #120
I have found variable name "resnet_v1_50/block1/unit_1/bottleneck_v1/conv1/BatchNorm/beta" in my checkpoint.
In the function "train" in channel_pruning/learner.py, I add " with tf.Graph().as_default(): variable_names = [v.name for v in tf.trainable_variables()] print(variable_names)" at the beginning of the function. But print nothing.

[2018-12-05 08:50] jiaxiang-wu commented on #120
Can you post the modified `channel_pruning/learner.py`?

[2018-12-05 08:55] herbiezhao commented on #120
Because error happens in self.__restore_model, graph has no trainable variable.

[2018-12-05 09:04] jiaxiang-wu commented on #120
Where did you print the variables' names? In `ChannelPrunedLearner.train()"? Can you post the code, please?

[2018-12-05 09:16] jiaxiang-wu commented on #120
Can you **POST THE CODE**, please?

[2018-12-05 09:20] jiaxiang-wu commented on #120
Restoring from a checkpoint file only uses its variables values as initialization. Variables are created in the training graph (the `__build()` function), uninitialized.

[2018-12-05 09:22] herbiezhao commented on #120
# Tencent is pleased to support the open source community by making PocketFlow available.
#
# Copyright (C) 2018 THL A29 Limited, a Tencent company. All rights reserved.
#
# Licensed under the BSD 3-Clause License (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://opensource.org/licenses/BSD-3-Clause
#
# Unl

[2018-12-05 09:50] herbiezhao commented on #120
In graph:  model/resnet_v1_50/block1/unit_1/bottleneck_v1/conv1/BatchNorm/beta:0
In checkpoint:  resnet_v1_50/block1/unit_1/bottleneck_v1/conv1/BatchNorm/beta
Variables name in graph has prefix "model”
How to fix this problem?

[2018-12-05 10:22] jiaxiang-wu commented on #120
For any given checkpoint file, you can change the scope name of all the variables within. A possible implementation is used by `DistillationHelper`:
https://github.com/Tencent/PocketFlow/blob/master/learners/distillation_helper.py#L123

[2018-12-05 10:23] brisker commented on #115
given a conv layer with `[k,k,cin,cout] `weights , and `N=k*k*cin*cout` represents float values,
if without bucketing, all the `N` values are quantized using the same alpha and beta.
if with bucketing with `bucket_type==channel`, all the `N `values are quantized using `cout` alphas and `cout` betas?
Have I understood this right?
@haolibai

[2018-12-05 11:46] haolibai commented on #115
Yes correct.

[2018-12-05 12:02] brisker commented on #115
@haolibai
If `--uql_enbl_rl_agent ==True,`  the weight quantization bits is learned, what about the activation bits?
`32`? or `equivalent_bits`?

[2018-12-05 13:40] haolibai commented on #115
`activation_bits` remains 32 bits, since quantization with different bits across layers can not be accelerated, which poses no necessity for activation quantization.

[2018-12-05 13:56] brisker commented on #115
@haolibai
I do not quite understand what you mean.
Why the different activation bit across layers can not be  accelerated?
here https://github.com/haolibai/PocketFlow/blob/master/learners/uniform_quantization/bit_optimizer.py#L52
it says `Currently only weight bits are inferred via RL. Activations later.`
So what is your plan in the future, regarding the activation-RL?
@haolibai
@jiaxiang-wu

[2018-12-05 17:57] dhingratul commented on #123
1. ResNet
2. resnet_at_ilsvrc12_run.py
3. .pb
4. GPU
5. Whatever is defined here , run_local.sh nets/resnet_at_ilsvrc12_run.py

[2018-12-05 21:16] dhingratul opened #125 "UnboundLocalError: local variable 'file_path' referenced before assignment"
**Describe the bug**
A clear and concise description of what the bug is.
1. Train Weight Sparsification with 0.01 % epochs
2. Use the script from tutorial to convert it to a .pb file

Error: UnboundLocalError: local variable 'file_path' referenced before assignment

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2018-12-05 23:44] jiaxiang-wu commented on #125
@dhingratul The compressed model generated by `WeightSparseLearner` does not support exporting to TensorFlow Lite, since sparse matrix multiplication is not supported by TensorFlow Lite, as far as I know. Sorry for the confusion.

[2018-12-05 23:50] #125 closed

[2018-12-05 23:52] jiaxiang-wu commented on #123
Got it. We are reproducing your issue.

[2018-12-06 02:43] brisker commented on #115
I do not quite understand what you mean.
Why the different activation bit across layers can not be accelerated?
here https://github.com/haolibai/PocketFlow/blob/master/learners/uniform_quantization/bit_optimizer.py#L52
it says Currently only weight bits are inferred via RL. Activations later.
So what is your plan in the future, regarding the activation-RL?
@haolibai
@jiaxiang-wu

[2018-12-06 03:09] brisker opened #126 "issues about the acc and loss, regarding the RL-based uniform quantization"
the command  is

bash ./scripts/run_local.sh nets/resnet_at_ilsvrc12_run.py -n=4
--learner uniform \
--enbl_warm_start
--uql_enbl_rl_agent
--uql_equivalent_bits 6 \
--uql_w_bit_min 2
--uql_w_bit_max 8

after RL get the optimal quantization bits for each layer , and start finetuning,

 the loss and accuracy printed is like below:

![default](https://user-images.githubusercontent.com/13804492/495589

[2018-12-06 03:16] herbiezhao commented on #120
Thanks a lot!

[2018-12-06 03:16] #120 closed

[2018-12-06 09:41] brisker commented on #126
@haolibai
what about this issue
https://github.com/Tencent/PocketFlow/issues/115#issuecomment-444728425

[2018-12-06 09:59] haolibai commented on #115
A basic requirement for low-bit inference on most current deep learning framework is that you need to maintain the same precision of bits for all the data. If weights are quantized with different bits, the requirement cannot be satisfied, and thereon cannot be accelerated. Nevertheless, weight quantization still can reduce the model size. However, for activation quantization, it can neither reduce

[2018-12-06 10:16] yupanpanwangrui opened #127 "Help! I can't eval using weight-sparse learner."
After compress the model resnet on dataset cifar10 using weight-sparse learner, I want to evaluate the accuracy. I set --exec_mode=eval, but the result is follow:

INFO:tensorflow:model files: model.ckpt-97656.data-00000-of-00001, checkpoint, model.ckpt-97656.meta, model.ckpt-97656.index
INFO:tensorflow:Restoring parameters from ./models/model.ckpt-97656
INFO:tensorflow:starting 0-th roll-out
INFO

[2018-12-06 10:47] brisker commented on #115
@haolibai
@jiaxiang-wu
Will  Pocketflow support RL-agent reward signal directly from hardware?

[2018-12-06 11:08] as754770178 commented on #118
error info:
[code]
my custom model use dataset, rather than the placeholder, so that my model don't have the collection save mem_images and mem_labels.

[2018-12-06 11:14] jiaxiang-wu commented on #118
@psyyz10 Could you take a look at this issue?

[2018-12-06 11:52] haolibai commented on #115
I am not sure.

[2018-12-06 12:18] brisker commented on #115
@haolibai
so until now, is there bugs found in the quantization code, regarding the RL-based method?

[2018-12-06 12:30] GoldenSpark opened #128 "Question about reproducing mobilenetv1-imagenet-channel pruning-uniform"
Using default parameters won't get a good performance.The best top1-acc is 59%. Is there any problem with my parameters?
The log is as below:

using Horovod for multi-GPU training
using Horovod for multi-GPU training
-------------------______________________save path:  /data/tf/tf_save_path_2/model.ckpt
-------------------______________________save path:  /data/tf/tf_save_path_2/model.ckpt
using H

[2018-12-06 12:40] herbiezhao opened #129 "How to compress our own models using multi-GPUs"
How to modify code to read our own data in horovod image?
Command：./scripts/run_docker.sh nets/resnet_at_terr_run.py --dis-chn-pruned --dcp_prune_ratio 0.5 --enbl_dst -n=4
Configuration in path.conf:
# data files
data_hdfs_host = None
data_dir_local_cifar10 = None
data_dir_hdfs_cifar10 = None
data_dir_seven_cifar10 = None
data_dir_docker_cifar10 = /opt/ml/data  # DO NOT EDIT
data_dir_local_ilsvrc1

[2018-12-06 12:44] brisker commented on #115
@haolibai
It seems that there is no corresponding paper about the RL-based quantization part. Could you please provide any documention about the RL-based quantization algorithm? Or any related paper?

[2018-12-06 12:49] haolibai commented on #115
We refer to http://openaccess.thecvf.com/content_ECCV_2018/papers/Yihui_He_AMC_Automated_Model_ECCV_2018_paper.pdf to realize the RL based quantization. Please check.

[2018-12-06 15:12] besherh commented on #72
[code]

I am trying to count the params in the saved model as stated above, is this right ?
Thanks in advance!

[2018-12-07 01:34] brisker commented on #115
@haolibai
@jiaxiang-wu
1. Is this pic corresponding to the RL-based quantization performance for imagenet-resnet18?
2. Did this pic mean that w4a32 quantization model with no RL only has about 63% top1-accuracy on imagenet, and with RL the acc can rise up to 68?
3.  Are these performance with channel bucket?

[2018-12-07 02:00] haolibai commented on #115
1. Yes.
2. In later experiment we found that w4a32 without RL can also achieve acc up to 66~67 by decreasing the learning rate properly. The RL based results have some variance, but can generally achieve comparable or better results.
3. Without bucketing.

[2018-12-07 02:06] brisker commented on #115
@haolibai
why is the lr always very very small(usually) , no matter it is RL-based method or not.  In the log you sent me [here](https://github.com/Tencent/PocketFlow/issues/126#issuecomment-444805789), the learning rate start from 2e-6. Is it necessary to set it as small as 2e-6 ? Or the printed `2e-6` is not the "real " learning rate?

[2018-12-07 02:13] jiaxiang-wu commented on #129
Have you implemented a `xxxDataset` class to define the data input pipeline, as demonstrated in this documentation?
https://pocketflow.github.io/self_defined_models/

[2018-12-07 02:59] herbiezhao commented on #129
I can compress our own models in local mode, but in docker mode reading data problem happens.

[2018-12-07 03:02] jiaxiang-wu commented on #129
What is the tag of horovod docker image?

[2018-12-07 03:45] jiaxiang-wu commented on #87
@leosk-knight
Previously, we divide the FLOPs by 2 to match the results we obtained from a Caffe-based script for computational complexity. Later, we discover that TensorFlow uses FLOPs to measure the complexity, while that Caffe-based script uses MACs. For most operations in CNN, 1MACs approximately equals to 2FLOPs. Therefore, the division by 2 can be removed.

Below is a detailed script to demo

[2018-12-07 03:48] jiaxiang-wu commented on #87
**TODO**: remove the division by 2 in the FLOPs computation.

[2018-12-07 03:52] brisker commented on #115
@haolibai

 In resnet-imagenet RL experiment, the acc may be normal. But when it comes to mobilenet, the reward got too many 0 in the roll-out process. I think it is due to the uniform quantization algorithm itself ( it is not a state-of-art model quantization paper. Is it a paper from Google?). So here I am curious about the performance you mentioned [here](https://github.com/Tencent/PocketFlow/i

[2018-12-07 03:57] as754770178 commented on #118
Now, The batch size of train and eval is different in my custom model, that the batch size of train is 128 and the batch size of eval is 1. In `mem_images` collection, there are two tensor, the first tensor's shape is identical with train.

error info:
[code]

[2018-12-07 06:41] jiaxiang-wu commented on #128
Hi, can you post the execution command?

[2018-12-07 06:43] jiaxiang-wu commented on #127
Sorry, it is a bug in our implementation. We should skip the RL-based optimization process when `exec_mode` is set to “eval”. We will fix it ASAP.

[2018-12-07 06:48] jiaxiang-wu commented on #91
@as754770178 Any updates?

[2018-12-07 06:49] jiaxiang-wu commented on #100
Enhancement: share pre-trained compressed models.

[2018-12-07 06:50] jiaxiang-wu commented on #86
@SunAriesCN Any updates?

[2018-12-07 06:54] #124 closed

[2018-12-07 06:56] jiaxiang-wu commented on #105
Enhancement: specify the recommended tag of docker image in the documentation.

[2018-12-07 07:15] haolibai opened #130 "Minor bug in weight sparsification learner"
**Describe the bug**
According to [To prune, or not to prune: exploring the efficacy of pruning for model compression](https://arxiv.org/abs/1710.01878), the mask should be updated based on the un-pruned weights. However in the code, the mask is updated based on the pruned weights.

**Screenshots**
![image](https://user-images.githubusercontent.com/24502378/49632885-48b60f80-fa32-11e8-98a4-eed9da7

[2018-12-07 07:37] jiaxiang-wu commented on #130
Thanks for pointing it out. Both `mask_thres` and `mask` should be updated based on `var_bkup`, rather than `var` in the current implementation. We will fix it ASAP.

[2018-12-07 07:40] #91 closed

[2018-12-07 08:14] yupanpanwangrui opened #133 "How to export the compressed model to TensorFlow Lite when i use weight-sparse learner?"
I use weight-sparse learner to compress resnet model on cifar10 dataset. It is normal.

But I don't know how to export the compressed model to tflite model, using export_quant_tflite_model.py or export_chn_tflite_model.py?  I tried the two ways, but failed.  Can anyone help me?

[2018-12-07 08:15] #126 closed

[2018-12-07 08:17] jiaxiang-wu commented on #133
Same as issue #125.
The compressed model generated by `WeightSparseLearner` does not support exporting to TensorFlow Lite, since sparse matrix multiplication is not supported by TensorFlow Lite, as far as I know. Sorry for the confusion.

[2018-12-08 02:51] GoldenSpark commented on #128
Hey @jiaxiang-wu ，given a lower learning_rate_init and a higher cp_uniform_preserve_ratio, the top1-acc reaches to 62.6% now. What I actually want to know is how to reach a 66.5% top1-acc with 50% uniform_pruning ratio. Could you tell me the hyper-parameters? Thanks a lot.

[2018-12-08 05:40] brisker commented on #115
@haolibai
Now I can also reproduce the resnet-18-4bit rl-based experiment performance, around 67% top-acc, but the mobilenet-rl-based experiment just still got too many 0 accs in the roll-out training process. Have you reproduce this , except the resnet experiment [here](https://github.com/Tencent/PocketFlow/issues/115#issuecomment-443198659)  ?

[2018-12-08 05:49] yupanpanwangrui opened #135 "The error exits when I export the compressed model to tflite after I used the uniform-tf learner."
After I compressed resnet20 using cifar10 dataset, I want to export it to pb and tflite.
I use the command:
python tools/conversion/export_quant_tflite_model.py
The error is
File "tools/conversion/export_quant_tflite_model.py", line 274, in <module>
    tf.app.run()
  File "/home/panpan/anaconda3/lib/python3.6/site-packages/tensorflow/python/platform/app.py", line 125, in run
    _sys.exit(main(ar

[2018-12-08 07:02] yupanpanwangrui commented on #135
@jiaxiang-wu my issue is not resolved. In the learners/uniform_quantization_tf/learner.py, 278 line has

tf.add_to_collection('images_final', images)
tf.add_to_collection('logits_final', logits)

so the tensors has added to the collections. I don't know why the compressed model can't to convert to pb or tflite. In your results, can it convert to pb or tflite using uniform-tf learner?

[2018-12-08 07:37] jiaxiang-wu commented on #135
@yupanpanwangrui
Can you provide the execution command for the model conversion script `tools/conversion/export_quant_tflite_model.py`?

[2018-12-08 08:10] yupanpanwangrui commented on #135
I use
python tools/conversion/export_quant_tflite_model.py

[2018-12-08 08:15] yupanpanwangrui commented on #135
I successed by using python tools/conversion/export_quant_tflite_model.py ----enbl_post_quant. Cheers!
why use python tools/conversion/export_quant_tflite_model.py failed?

[2018-12-08 08:35] yupanpanwangrui commented on #135
I use resnet20 on cifar10 dataset. I don't set --model_dir, because I set it in the export_quant_tflite_model.py. "./models" directiory saves the compressed model. The files under the "./models" directory are:
checkpoint
model.ckpt.data-00000-of-00001
model.ckpt.index
model.ckpt.meta
They are renamed by me.
When  convert to tflite, exits

panpan@panpan-desktop:~/downloads/PocketFlow-master$ python

[2018-12-08 08:53] jiaxiang-wu commented on #135
1. TensorFlow's quantization-aware training API cannot recognize all the operations that should be quantized in ResNet models (but for MobileNet, all operations are correctly recognized). Therefore, you need the `--enbl_post_quant` option to quantize the remaining operations for ResNet (but not needed for MobileNet).
2. You mentioned that files under the "./models" directory are renamed by you. Wh

[2018-12-08 09:03] yupanpanwangrui commented on #135
I don't have the "./models_uqtf_eval" directory. I don't know why. So I save the evaluation graph by myself when i set --exec_mode=eval.

[2018-12-08 09:05] jiaxiang-wu commented on #135
How did you generate compressed models with `UniformQuantTFLearner`?

[2018-12-08 09:21] yupanpanwangrui commented on #135
I add a line in the learners/uniform_quantization_tf/learner.py. In the function def evaluate(self): I add

self.__save_model(is_train=False)
after self.__restore_model(is_train=False)

[2018-12-08 09:34] yupanpanwangrui commented on #135
The execution command is
./scripts/run_local.sh nets/resnet_at_cifar10_run.py --learner=uniform-tf exec_mode=eval
Then I don't have the "./models_uqtf_eval" directory.
I use the execution command to get tflite,

python tools/conversion/export_quant_tflite_model.py
--model_dir ./models_uqtf_eval --enbl_post_quant
Success.

[2018-12-08 09:39] jiaxiang-wu commented on #135
Why are you using `--exec_mode=eval` to enter the evaluation mode? Have you trained a quantized models with `UniformQuantTFLearner`?

[2018-12-08 10:01] yupanpanwangrui commented on #135
Yes, I have trained a quantized models using the execution command
./scripts/run_local.sh nets/resnet_at_cifar10_run.py --learner=uniform-tf --nb_epochs_rat 0.2
Then I  have the "./models_uqtf" directory.

[2018-12-08 10:14] jiaxiang-wu commented on #135
When training is done, both "./models_uqtf" and "./models_uqtf_eval" directories should be generated.

[2018-12-08 10:16] yupanpanwangrui commented on #135
I think so, but the "./models_uqtf_eval" directory doesn't generated.

[2018-12-08 10:18] jiaxiang-wu commented on #135
Are you using the latest version of PocketFlow? Can you re-run the training process?

[2018-12-08 11:08] yupanpanwangrui commented on #135
I re-run the training process using the latest version. Success. Thank for your reply.

I have another question. How to calculate the inference time of pb or tflite as export_chn_tflite_model.py do? Do you want to add inference time into export_quant_tflite_model.py lately?

[2018-12-08 11:12] jiaxiang-wu commented on #135
Yes, we are adding benchmark tools for *.pb and *.tflite models and a PR will be created in the next one or two days.

[2018-12-08 13:09] yupanpanwangrui commented on #135
Thanks! Looking forward to your update.

[2018-12-10 01:31] jiaxiang-wu commented on #123
@dhingratul
Sorry, we cannot reproduce your issue.
According to our results (see the benchmark code for inference speed in PR #136), the `model_original.pb` generated by `export_chn_pruned_tflite_model.py` costs 3.23ms and the one generated by `export_quant_tflite_model.py` costs 3.34ms, which basically are the same.

Note:
* We set batch size to 1. Is this the same on your side?
* The inference t

[2018-12-10 01:37] #133 closed

[2018-12-10 01:42] jiaxiang-wu commented on #129
@herbiezhao Any updates?

[2018-12-10 01:44] jiaxiang-wu commented on #117
@leosk-knight Any updates?

[2018-12-10 01:46] jiaxiang-wu commented on #109
@xiaomr Any updates?

[2018-12-10 01:48] haolibai commented on #115
Hi. Not yet. We are recently short of GPUs. We will inform you immediately once we get the result. You can also try to adjust some parameters, such as the learning rate for RL global training, and narrow down the gap between w_bit_min and w_bit_max so as to avoid too many 2 bit quantizations.

[2018-12-10 01:58] jiaxiang-wu commented on #72
@besherh Yes, I think the above code is correct.

[2018-12-10 03:00] herbiezhao commented on #129
multi-GPU training enabled
using Horovod for multi-GPU training
using Horovod for multi-GPU training
using Horovod for multi-GPU training
INFO:tensorflow:FLAGS:
INFO:tensorflow:ws_nb_iters_rg: 20
INFO:tensorflow:nuql_tune_disp_steps: 300
INFO:tensorflow:helpfull: False
INFO:tensorflow:cp_uniform_preserve_ratio: 0.6
INFO:tensorflow:cpg_skip_ht_layers: True
INFO:tensorflow:batch_size_eval: 100
INFO:

[2018-12-10 10:42] psyyz10 commented on #128
Hi @GoldenSpark , if you wants the FLOPs of pruned model is 50% of the original model by uniform pruning, you should set ` --uniform_preserve_ratio=0.69` and also `--enbl_dst=True`.

[2018-12-10 10:47] jiaxiang-wu commented on #128
@GoldenSpark
We need to clarify that the "pruning ratio" previously used in our table refers to the overall FLOPs, instead of each layer's parameters. Actually, to reduce the FLOPs to 50% of the original model, each layer only needs to prune ~31% channels (as mentioned by @psyyz10 ). We have clarified this in PR #137. Sorry for the confusion.

[2018-12-10 10:52] jiaxiang-wu commented on #130
Resolved in PR #134.

[2018-12-10 10:52] #130 closed

[2018-12-10 10:52] jiaxiang-wu commented on #127
Resolved in PR #131.

[2018-12-10 10:52] #127 closed

[2018-12-10 11:22] GoldenSpark commented on #128
Hey @psyyz10 @jiaxiang-wu, thaks for your reply, I have noticed the relations between pruning-ratio and FLOPs. But using the default setting except changing pruning-ratio to 0.707 can not reproducing 65.5% top1-acc. Should I optimize the training hyper-parameters?

[2018-12-10 11:30] jiaxiang-wu commented on #128
Can you post the execution command for producing 62.8% top-1 accuracy in your experiment?

[2018-12-10 12:23] GoldenSpark commented on #128
@jiaxiang-wu

#!/bin/bash
# default arguments
nb_gpus=8

py_script="nets/mobilenet_at_ilsvrc12_run.py"

LOG_FILE=/data/log/mobilenetv1_img_channel_uni_0.707_retrain_0.106_dst.log

LOG_FILE=/data/log/mobilenetv1_img_cp_uni_0.707_retrain_0.106_dst.log

extra_args="--learner channel \
            --batch_size_eval 64 \
            --cp_uniform_preserve_ratio 0.707107 \
            --cp_prune_option u

[2018-12-10 12:25] brisker commented on #115
@haolibai
in the log you provided [here](https://github.com/Tencent/PocketFlow/issues/126#issuecomment-444805789) , in the last line :
[code]
does these two lines mean that the **top-1 acc** is 0.669? or **top-5 acc**?

[2018-12-10 18:45] dhingratul commented on #123
The only difference I see is that you are generating data with all zeros, and I generate it with ` np.random.rand`. I use batch size and average over 1000 runs, leaving out the 1st inference(you use 100) because that time is always inflated due to GPU warmup. The difference in inference times could be because of the different GPU architecture. I am more interested in the percent speedup rather tha

[2018-12-10 19:45] dhingratul commented on #122
@jiaxiang-wu The speedups are not observed even with a .tflite file

[2018-12-11 01:37] jiaxiang-wu commented on #123
@dhingratul
After changing `np.zeros` to `np.random.rand`, I still cannot reproduce your issue. Following is my results:
model_original.pb (chn-pruned): 3.48ms 3.41ms 3.27ms 3.26ms
model_original.pb (quant) 3.47ms 3.41ms 3.38ms 3.24ms

Can you post your *.pb model files, so I can test on them?

[2018-12-11 03:19] jiaxiang-wu commented on #129
1. After you entered the docker environment, can you list files under `/opt/ml/data`?
2. Can you post the full content of your path configuration file, `path.conf`, especially items related to "_terr"?

[2018-12-11 03:44] herbiezhao commented on #129
1.
1. My data is in /opt/ml/data
content_train_00000-of-00010.tfrecord  content_train_00005-of-00010.tfrecord  content_validation_00000-of-00010.tfrecord  content_validation_00005-of-00010.tfrecord  labels.txt
content_train_00001-of-00010.tfrecord  content_train_00006-of-00010.tfrecord  content_validation_00001-of-00010.tfrecord  content_validation_00006-of-00010.tfrecord
content_train_00002-of-00

[2018-12-11 04:33] jiaxiang-wu commented on #129
You need to set `data_dir_local_terr` to the actual local path and `data_dir_docker_terr` to "/opt/ml/data".

[2018-12-11 07:50] herbiezhao commented on #129
I have set data_dir_local_terr and data_dir_docker_terr, but the same reading error returns.
The process is halt here:
[local-env:00287] Read -1, expected 65536, errno = 1
[local-env:00287] Read -1, expected 131072, errno = 1
[local-env:00287] Read -1, expected 65536, errno = 1
[local-env:00287] Read -1, expected 131072, errno = 1
[local-env:00287] Read -1, expected 131072, errno = 1
[local-env:00

[2018-12-11 07:54] jiaxiang-wu commented on #129
What is the tag of horovod docker image? Similar problem was reported in issue #105, and resolved after using the docker of tag "0.15.2-tf1.12.0-torch0.4.1-py3.5".

[2018-12-11 08:21] Maoquan232 opened #139 "RL helper？"
Hi, why you make a RLHelper for each learner? what's it used for?

[2018-12-11 08:21] herbiezhao commented on #129
My docker image can work on resnet_at_cifar10 correctly.
The following is the error info:
multi-GPU training enabled
using Horovod for multi-GPU training
using Horovod for multi-GPU training
using Horovod for multi-GPU training
INFO:tensorflow:FLAGS:
INFO:tensorflow:cp_nb_rlouts: 200
INFO:tensorflow:batch_size: 64
INFO:tensorflow:dcp_nb_stages: 3
INFO:tensorflow:nuql_w_bit_min: 2
INFO:tensorflow:c

[2018-12-11 11:01] herbiezhao opened #140 "Why performance does not improve after channel pruning"
I compress our model using channel pruning with pruning ratio 0.5.
But converted models perform as same as original model on Nvidia GPU.

[2018-12-12 01:35] herbiezhao commented on #129
The problem is that I can run in docker mode without "-n=4", just using one GPU.
Reading data error happens in docker mode with "-n=4", not only compressing our own model, but also compressing example model.
I remember that I can run in docker mode with "-n=4" in previous version, but I can not in latest version.

[2018-12-12 07:34] lishanlu136 opened #141 "How to use the UniformQuantTFLearner method to start training my database?"
Since I am using my own database, the number of categories is different from the given example, and I am also going to use the inception-Resnet network, so there is no pre-training model in PocketFlow. Can the UniformQuantTFLearner method start training again without pre-training model?

[2018-12-12 07:46] jiaxiang-wu commented on #139
It is used to compute the state vector and reward function for the RL agent. Besides, it is used to convert RL agent's action and model compression algorithm's hyper-parameters, *e.g.* layer-wise pruning ratio / quantization bitwidth.

[2018-12-12 07:47] jiaxiang-wu commented on #140
Which model are you using for speed test, *.ckpt or *.pb?

[2018-12-12 07:55] jiaxiang-wu commented on #141
It is suggested to train a quantized model with pre-trained model. Directly training a quantized model may take longer to converge and the resulting accuracy may be inferior. You can train a full-precision model using `FullPrecLearner` on your (model, dataset) combination.

[2018-12-12 07:57] herbiezhao commented on #140
*.ckpt

[2018-12-12 07:58] jiaxiang-wu commented on #129
@herbiezhao
Can you find out on which previous version that running in the docker mode with "-n=4" works fine?

[2018-12-12 08:04] jiaxiang-wu commented on #140
We do not modify the graph architecture in the *.ckpt files. For GPU-based inference speed-up, you need to use the *.pb files, which removes all-zeros channels after channel pruning.
To generate a *.pb model file, you need to use `tools/conversion/convert_data_format.py` to convert a model from NHWC data format to NCHW data format (which runs faster) and then use `tools/conversion/export_chn_prune

[2018-12-12 08:44] herbiezhao commented on #140
I see！Thanks！

[2018-12-12 08:44] #140 closed

[2018-12-12 09:04] herbiezhao commented on #129
I think the first version!
can you reproduce my issue?
using ./scripts/run_docker.sh nets/resnet_at_cifar10_run.py --learner channel -n=4

[2018-12-12 09:11] jiaxiang-wu commented on #129
I tested with your execution command. Indeed there are lots of warning outputs starting with "[local-env:" but the training process seems running fine. The loss and accuracy are as expected:
[code]

Still, we need to get rid of these annoying warning outputs.

[2018-12-12 09:16] jiaxiang-wu commented on #129
It seems that the above warning output is due to that the container is not run in privileged mode, as mentioned here:
https://github.com/uber/horovod/blob/master/docs/docker.md

[2018-12-12 10:14] yupanpanwangrui opened #142 "I can't convert model compressed by uniform-tf learner to pb or tflite for my own model!!"
I use uniform-tf learner for my own model. The training process successes. When I convert it to pb or tflite using export_quan_tflite_model.py, exits error:
 File "/home/yupp/anaconda3/envs/tensorflow/bin/tflite_convert", line 11, in <module>
    sys.exit(main())
  File "/home/yupp/anaconda3/envs/tensorflow/lib/python3.5/site-packages/tensorflow/contrib/lite/python/tflite_convert.py", line 370, in

[2018-12-12 10:16] #142 closed

[2018-12-12 10:36] jiaxiang-wu commented on #93
@jzlwlhao
I've run the execution command you provided. The program is working as expected. Actually, the program is not stuck at restoring parameters. After parameters are restored, DCP learner starts the channels selection process, and the block-wise fine-tuning is time-consuming and does not output any log:
[code]

Since you are using only one GPU, this part can take very long. You may add some

[2018-12-13 02:20] herbiezhao commented on #129
NCCL_SOCKET_IFNAME=eth0， not eth1 for me

[2018-12-13 02:20] #129 closed

[2018-12-13 06:35] jiaxiangxu opened #143 "Endless loop of discrimination-aware channel pruning, MobileNetV2 at Cifar10"
log:
Python script: ./nets/mobilenet_at_cifar10_run.py
\# of GPUs: 1
extra arguments: --mobilenet_version 2 --mobilenet_depth_mult 1.0 --learner dis-chn-pruned --dcp_prune_ratio 0.75 --batch_size_eval 128 --model_http_url https://api.ai.tencent.com/pocketflow --data_dir_local /workspace/dataset/cifar10_data/cifar-10-batches-bin
'./nets/mobilenet_at_cifar10_run.py' -> 'main.py'
multi-GPU training d

[2018-12-13 10:06] jiaxiangxu opened #144 "TOCO failed of channel pruning, MobileNetV2 at Cifar10"
log of running export_chn_pruned_tflite_model.py:
2018-12-12 05:19:28.614521: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 AVX512F FMA
2018-12-12 05:19:29.483043: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1432] Found device 0 with properties:
name: GeForce GTX 1080 Ti major: 6 minor: 1 memoryC

[2018-12-13 11:30] dreambear1234 opened #145 "what contribute to the accuracy increase in mobilenet quantize?"
Uniform Quantization:
In you README, the accuracy of mobilenet-v1/v2 are all increased by 0.4,
As I know, use quantize api of tensorflow will degenerate accuracy(maybe 1 point)!
How did you achieve this? Incredible!
Is it all the contribution of distillation?

[2018-12-13 13:31] jiaxiang-wu commented on #145
By "quantize api", which are you refering to, quantization-aware training or post-training quantization? The latter will lead to degenerated accuracy, but we are using the first one.
How to reproduce: use `UniformQuantTFLearner` with `--enbl_dst` option enabled. Distillation loss is helpful in reducing the accuracy degradation, but 8-bit uniform quantization should have very significant accuracy l

[2018-12-13 13:47] dreambear1234 commented on #145
@jiaxiang-wu , Thank you for your reply
'quantize api' means quantization-aware training, accuracy is found from here, 'https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/quantize',
In this page, accuracy is decreased by 1%.
1. Can I understand that 0.4% accuracy increase in your code all come from distillation ? (it means that 1.4(1% + 0.4%) accuracy is achieved by distillati

[2018-12-14 01:34] jiaxiang-wu commented on #144
1. MobileNet-v2 at CIFAR-10? We do not have such (model, dataset) combination. Is it your self-defined model?
2. Which model compression learner are you using, `ChannelPrunedLearner`?
3. Which checkpoint files are you using, from the training graph or the evaluation graph?

[2018-12-14 01:36] jiaxiang-wu commented on #143
@jiaxiangxu
Since you are using the self-defined model (MobileNet at CIFAR-10), can you post these two files, so that we can reproduce your issue?
* `mobilenet_at_cifar10.py`
* `mobilenet_at_cifar10_run.py`

[2018-12-14 02:51] jiaxiang-wu commented on #128
We use the following execution command:
[code]
and the final top-1 accuracy is 67.1% and top-5 accuracy is 87.4%.

The full log is attached here:
[mobilenet-cp.log](https://github.com/Tencent/PocketFlow/files/2678469/mobilenet-cp.log)

[2018-12-14 02:58] jiaxiang-wu commented on #93
@jzlwlhao Can you confirm whether your issue has been resolved?

[2018-12-14 03:07] iamhankai opened #146 "Why the number of classes is 1001?"
In the file `PocketFlow/datasets/ilsvrc12_dataset.py`:
`tf.app.flags.DEFINE_integer('nb_classes', 1001, '# of classes')`
Why the number of classes is 1001?

[2018-12-14 03:07] jiaxiang-wu commented on #87
Resolved in PR #132.

[2018-12-14 03:07] #87 closed

[2018-12-14 03:13] jiaxiang-wu commented on #146
We follow TensorFlow's official implementation of ResNet to set the number of classes to 1001
https://github.com/tensorflow/models/blob/master/official/resnet/imagenet_main.py#L35

[2018-12-14 03:37] dreambear1234 commented on #145
@jiaxiang-wu ,
1. In the situation of quantization-aware training. In that link,  learning_rate is a constant (1e-4), your learning_rate is 0.045 * 0.01 which will decrease by epochs, I don't think there are too many difference.

2. As your opinion, '8-bit uniform quantization should have very significant accuracy loss', Distillation get such a great job who reach better accuracy than float model

[2018-12-14 03:42] jiaxiang-wu commented on #145
1. We have not tested the constant learning rate schedule. It is hard to tell how much accuracy difference will be caused by these two schedules.
2. Sorry, that's a typo. I want to say "8-bit uniform quantization **should not** have very significant accuracy loss". Training with distillation can often exceed the teacher network's performance. For instance, if you train a ResNet-20 model with anoth

[2018-12-14 06:41] brisker commented on #115
@haolibai
@jiaxiang-wu
Is the potential bug of RL-based quantization code solved?
(I run the mobilenet-8-8 uniform quantization with no rl and no distillation, and the performance is about 69.5, which is 1.5 point lower than what you claimed in the readme file)

[2018-12-14 07:42] ginger0106 commented on #143
Actually, I used  mobilenetV1 at imagenet, it is a default model in pocketflow.

[2018-12-14 08:01] jiaxiang-wu commented on #143
@ginger0106 Understood. It should be some bugs with `DisChnPrunedLearner`, instead of specific (model, dataset) combination. We are working on this.

[2018-12-14 08:33] jiaxiang-wu commented on #143
@jiaxiangxu If interested, you can add a pull request for these two files to add support for MobileNet models at CIFAR-10. Your contribution is highly welcomed and appreciated.

[2018-12-14 08:43] jiaxiangxu commented on #144
1. No, it's not a self-defined model. I just created mobilenet_at_cifar10_run.py and mobilenet_at_cifar10.py to leverage the built-in mobilenet and cifar10 code.
2. Yes, ChannelPrunedLearner.
parameter log:
Python script: ./nets/mobilenet_at_cifar10_run.py
# of GPUs: 1
extra arguments: --mobilenet_version 2 --mobilenet_depth_mult 1.0 --learner channel --batch_size_eval 128 --cp_prune_option unifor

[2018-12-14 08:47] jiaxiang-wu commented on #144
Can you post all files starting with "best_model" under the "models" directory, so that we can reproduce your issue?

[2018-12-14 08:51] jiaxiangxu commented on #144
best_model.ckpt.data-00000-of-00001
best_model.ckpt.index
best_model.ckpt.meta

[2018-12-14 08:52] jiaxiang-wu commented on #144
@jiaxiangxu Sorry for the confusion. I mean the actual files, not just file names.

[2018-12-14 09:03] GoldenSpark commented on #128
Hey @jiaxiang-wu ， Thanks for suppling the log. I have found in my log that top1-acc following every training of 100 iters is abnormal but finally lead to a higher val-top1-acc  which is seems to be nomal.
### In fact, compared with yours, the mean value of train-top1-acc is so low and the final val-top1-acc is also lower than yours.

Here is my log：
[mobilenetv1_img_channel_uni_0.707_retrain_0.24

[2018-12-16 02:30] jiaxiang-wu commented on #128
Can you test with the execution command I provided earlier, on the latest version of PocketFlow code?

[2018-12-16 02:31] #117 closed

[2018-12-16 02:31] #86 closed

[2018-12-16 02:31] #72 closed

[2018-12-16 02:32] #109 closed

[2018-12-16 06:14] jiaxiang-wu commented on #143
@jiaxiang-wu @ginger0106
We have provided a hotfix in PR #147. Please verify whether the latest code has resolved your issues.

[2018-12-16 06:14] jiaxiang-wu commented on #85
@GoldenSpark
We have provided a hotfix in PR #147. Please verify whether the latest code has resolved your issues.

[2018-12-16 06:17] jiaxiang-wu commented on #144
@jiaxiangxu Can you provide the actual model files, instead of just file names?

[2018-12-17 01:17] jiaxiang-wu commented on #85
Closing. Please reopen it if the bug still exists.

[2018-12-17 01:17] #85 closed

[2018-12-17 01:17] jiaxiang-wu commented on #143
Closing. Please reopen it if the bug still exists.

[2018-12-17 01:17] #143 closed

[2018-12-17 01:29] Maoquan232 opened #149 "Which AutoML method is used in the current version of PocketFlow？"
Hi, you mentioned in Github that  Gaussian Processes (GP, Mockus, 1975), Tree-structured Parzen Estimator (TPE, Bergstra et al., 2013), and Deterministic Deep Policy Gradients (DDPG, Lillicrap et al., 2016) will be used for hyper-parameters optimization.

While it seems that the automl methods GP and TPE haven't been used in the current version, right?(Only RL-DDPG)
 Will you open the source code

[2018-12-17 03:15] jiaxiang-wu commented on #149
Yes, both GP and TPE are not included in the current repo. They are based on another project which is not released. We are planning to provide GP and TPE support within PocketFlow, but there is no clear timetable for this, since our current priority is to support object detection models.

[2018-12-17 03:39] #145 closed

[2018-12-17 05:18] Jinyyyy commented on #107
@psyyz10

Hi, thanks for your open-source code.

1. In the ChannelPruning Auto, which channel pruning method are you using?
    The original AMC paper prune the channels in the convolutional kernel with lowest magnitude.
    It seems that you use LASSO to select the channels. Please correct me if I misunderstand the code.

2. In the channel-pruning-gpu repo, you implement the discrimination-aware

[2018-12-17 06:46] jiaxiangxu commented on #144
[best_models.zip](https://github.com/Tencent/PocketFlow/files/2684747/best_models.zip)

[2018-12-17 06:47] jiaxiang-wu commented on #144
Got it. Let us try to reproduce your issue.

[2018-12-17 08:45] GoldenSpark commented on #128
@jiaxiang-wu
There is something wrong with my TFRecords data. I change the shards number of thraning data from 4096 to 1024 and reconvert  the ImageNet to TFRecord.  And now the train-top1-acc is nomal.
Thanks for your help!

[2018-12-17 08:45] #128 closed

[2018-12-18 00:32] d-jax opened #150 "Parameters for RL-based WeightSparseLearner on MobileNets"
Hello PocketFlow team,

What are the parameters for reproducing the compressed MobileNets using weight sparsification as reported by the PocketFlow paper? Thank you.

[2018-12-18 02:02] sunzhe09 opened #151 "I purning my own network by DCP，but it ran into a endless loop after a warning"
here is my log：
INFO:tensorflow:adding channel #0 to the non-pruned set
INFO:tensorflow:layer #12: prune_ratio = 0.5859
INFO:tensorflow:adding channel #34 to the non-pruned set
INFO:tensorflow:layer #12: prune_ratio = 0.5820
INFO:tensorflow:adding channel #147 to the non-pruned set
INFO:tensorflow:layer #12: prune_ratio = 0.5781
INFO:tensorflow:adding channel #239 to the non-pruned set
INFO:tensor

[2018-12-18 02:04] jiaxiang-wu commented on #151
PR #147 should have already solved this issue. Are you using the latest code?

[2018-12-18 03:11] yupanpanwangrui opened #152 "Help! A question about the test results on model_quantized.tflite"
I quantize my own model using uniform-tf learner.
I export the compressed model to tflite using export_quant_tflite_model.py.    The output of testing tflite is 0 or 1,
INFO:tensorflow:outputs from the *.tflite model: [[[[1 1 0 ... 0 0 0]
   [0 0 0 ... 0 0 0]
   [0 0 0 ... 0 0 0]
   ...
   [0 0 0 ... 0 0 0]
   [0 0 0 ... 0 0 0]
   [1 1 0 ... 0 0 0]]

  [[1 1 0 ... 1 0 0]
   [0 0 0 ... 0 0 0]
   [0

[2018-12-18 06:17] yupanpanwangrui commented on #152
I resolved my question. I need to reset --mean_values, --std_dev_values, --default_ranges_min, --default_ranges_max in the export_quant_tflite_model.py．

[2018-12-18 06:17] sunzhe09 commented on #151
I have check my code ，it‘s  not  the  latest

[2018-12-18 07:15] jiaxiang-wu commented on #151
So can you re-run with the latest code?

[2018-12-18 07:16] jiaxiang-wu commented on #152
@yupanpanwangrui Hi, so can you get expected output now, after specifying these hyper-parameters?

[2018-12-18 08:13] sunzhe09 commented on #151
yes ，but i have another question， when I run into horovod docker ，it crashed with ./scripts/run_docker.sh: line 45: nvidia-docker: command not found

[2018-12-18 08:15] jiaxiang-wu commented on #151
When you enter the docker environment, you should start the program using `bash main.sh`, instead of calling `./scripts/run_docker.sh` again.

[2018-12-18 08:34] sunzhe09 commented on #151
1.docker pull the latest images
2.clone my own container
3.nvidia-docker exec -it sz_horovod bash  &&cd Pocketfllow

[2018-12-18 08:36] jiaxiang-wu commented on #151
You need to start the docker environment using `./scripts/run_docker.sh`, and when you entered the docker environment, use `bash main.sh` to start the program.

[2018-12-18 08:45] sunzhe09 commented on #151
so , I should ran the images in nvidia-docker?

[2018-12-18 08:46] jiaxiang-wu commented on #151
Sorry, I did not understand your question.

[2018-12-18 08:48] sunzhe09 commented on #151
well, I ran the command as you said above ,
Traceback (most recent call last):
  File "utils/get_idle_gpus.py", line 40, in <module>
    for gpu in gpu_smi_output.split(sep='\n')[:-1]:
TypeError: split() takes no keyword arguments
nvidia-docker | 2018/12/18 16:47:03 Error: Error response from daemon: Get https://docker.oa.com/v1/_ping: remote error: tls: alert(112)

[2018-12-18 08:50] jiaxiang-wu commented on #151
Which Python version are you using, 2.x or 3.x?

[2018-12-18 08:51] sunzhe09 commented on #151
2.7 ...

[2018-12-18 08:53] jiaxiang-wu commented on #151
Can you using Python 3.x as we suggested [here](https://pocketflow.github.io/installation/)? Our code is developed and tested under Python 3.6.

[2018-12-18 09:01] yupanpanwangrui commented on #152
Yes

[2018-12-18 09:02] jiaxiang-wu commented on #152
Great! Good to know that.

[2018-12-18 09:02] #152 closed

[2018-12-18 09:42] sunzhe09 commented on #151
3q，there is another problem：
nvidia-docker | 2018/12/18 17:41:21 Error: Error response from daemon: Get https://docker.oa.com/v1/_ping: remote error: tls: alert(112)

[2018-12-18 09:50] brisker commented on #126
@haolibai
Could you please provide the full log with all the hyper-parameters , regarding to the experiment pocketflow-resnet-warm-start-1e-1-0tpcnpo-new.log mentioned here: https://github.com/Tencent/PocketFlow/issues/126#issuecomment-444805789?

[2018-12-18 11:11] iamhankai opened #153 "Can I quantize only some layers of the entire model?"
I donot want to quantize the entire model, so can I quantize only some layers or some parameters of the entire model?
For example, y=xw+b, only quantize w and keep b unchanged.

[2018-12-18 12:37] jiaxiang-wu commented on #151
Can you give the execution command and full log for your problem? It is a little bit difficult to understand what went wrong based on the current information.

[2018-12-18 12:40] jiaxiang-wu commented on #153
Partially quantized models cannot be accelerated via TF-Lite and will not have actual speed-up.

[2018-12-18 12:43] sunzhe09 commented on #151
I had solve this problem ,now,I have another question, if I want to train or purning my own model how to put my dataset and pretrain model into the horovod docker,just as local model?

[2018-12-18 12:45] jiaxiang-wu commented on #151
You can mount directories into the docker environment using the "-v <local_path>:<docker_path>" option. See `scripts/run_docker.sh` for details.

[2018-12-18 12:46] sunzhe09 commented on #151
OK,THX!!